# XIOS YAML CONFIGURATION FILE
#
#

model: xios
version: 2.0r982
executable: xios.x

metadata:
        Institute: IPSL and CEA
        Description:
                A library dedicated to I/O management in climate codes.
        Authors: Yann Meurdesoif (yann.meurdesoif@cea.fr)
        Website: https://portal.enes.org/models/software-tools/xios
        License:
                Please make sure you have a licence to use XIOS. In case you are
                unsure, please contact redmine...
#
# repository, compile and version information
#
archfile: ESMTOOLS_generic_intel
available_versions:
- 2.0_r982_ogcm
- 2.0_r982
- "2.5"
- 2.5_r1910
- 2.5_r1910_oifs
- 2.5_r1910_ogcm
branch: esm-tools
choose_version:
  2.0_r982:
    archfile: ESMTOOLS_generic_oasis_intel
    use_oasis: --use_oasis oasis3_mct
  2.0_r982_ogcm:
    archfile: ESMTOOLS_generic_intel
    use_oasis: ''
  "2.5":
    git-repository: https://gitlab.dkrz.de/ec-earth/xios-2.5.git
    choose_computer.useMPI: # JS: This entire block is a missnomer. It's not the MPI thats imporant but the compiler cray ftn vs intel.
      cray_mpich:
        archfile: ESMTOOLS_generic_oasis_cray
      intelmpi:
        archfile: ESMTOOLS_generic_oasis_intel
      parastationmpi:
        archfile: ESMTOOLS_generic_oasis_intel
    use_oasis: --use_oasis oasis3_mct
    branch: master
    comp_command: export XIOS_TOPLEVEL=${model_dir}; ./make_xios --arch ${archfile} --netcdf_lib netcdf4_par ${use_oasis} --job 24 --prod; cp bin/xios_server.exe bin/xios.x
  # XIOS with oasis dependencies and oasis support  
  2.5_r1910:
    archfile: ESMTOOLS_generic_oasis_intel
    use_oasis: --use_oasis oasis3_mct
    branch: 2.5_r1910
  # XIOS with oasis dependencies 
  2.5_r1910_oifs:
    archfile: ESMTOOLS_generic_intel
    use_oasis: ''
    branch: 2.5_r1910
  # XIOS without any oasis dependencies 
  2.5_r1910_ogcm:
    archfile: ESMTOOLS_generic_intel
    use_oasis: '' 
    branch: 2.5_r1910
clean_command: rm -rf bin lib obj ppsrc cfg done etc flags inc tmp
comp_command: export XIOS_TOPLEVEL=${model_dir}; ./make_xios --arch ${archfile} --netcdf_lib netcdf4_par --full ${use_oasis} --job 24; cp bin/xios_server.exe bin/xios.x
#destination: xios-${version}
destination: xios
git-repository: https://git.geomar.de/foci/src/xios.git
install_bins: bin/xios.x
use_oasis: ''
#
# runtime setup
#
setup_dir: "${model_dir}"
bin_dir: "${setup_dir}/bin"

config_files:
        io_def: io_def

choose_general.setup_name:
        nemo:
                xml_dir: ${nemo.model_dir}/CONFIG/${nemo.version}/EXP00
                add_config_files:
                        domain_def: domain_def
                        field_def: field_def
                        file_def: file_def
        oifs:
                xml_dir: "${computer.pool_directories.focipool}"
                add_config_files:
                        context_ifs: context_ifs
                        ifs_xml: ifs_xml
        focioifs:
                xml_dir: "${computer.pool_directories.focipool}"
                choose_general.version:
                        "2.0":
                                add_config_files:
                                        context_ifs: context_ifs
                                        ifs_xml: ifs_xml
                                        domain_def: domain_def
                                        field_def: field_def
                                        file_def: file_def
                        agrif:
                                add_config_files:
                                        context_ifs: context_ifs
                                        ifs_xml: ifs_xml
                                        domain_def: domain_def
                                        field_def: field_def
                                        file_def: file_def
                                        file_def_agrif: file_def_agrif
        foci:
           choose_general.version:
              default: 
                 xml_dir: ${nemo.model_dir}/CONFIG/${nemo.version}/EXP00
                 add_config_files:
                    domain_def: domain_def
                    field_def: field_def
                    file_def: file_def
              agrif: 
                 xml_dir: ${nemo.model_dir}/CONFIG/${nemo.version}/EXP00
                 add_config_files:
                    domain_def: domain_def
                    field_def: field_def
                    file_def: file_def
                    file_def_agrif: file_def_agrif
              agrif_oasismct4: 
                 xml_dir: ${nemo.model_dir}/CONFIG/${nemo.version}/EXP00
                 add_config_files:
                    domain_def: domain_def
                    field_def: field_def
                    file_def: file_def
                    file_def_agrif: file_def_agrif
        awicm3:
                xml_dir: "${general.pool_dir}"
                add_config_files:
                        context_ifs: context_ifs
                        ifs_xml: ifs_xml
                        domain_def: domain_def
                        field_def: field_def
                        file_def: file_def
                        axis_def: axis_def
                        grid_def: grid_def


config_sources:
        domain_def: ${xml_dir}/domain_def.xml
        field_def: ${xml_dir}/field_def.xml
        file_def: ${xml_dir}/file_def.xml
        file_def_agrif: ${xml_dir}/file_def_agrif.xml
        io_def: ${xml_dir}/iodef.xml
        axis_def: ${xml_dir}/axis_def.xml
        grid_def: ${xml_dir}/grid_def.xml
        ifs_xml: ${xml_dir}/ifs_xml/*
        context_ifs: ${xml_dir}/context_ifs.xml

config_in_work:
        domain_def: domain_def.xml
        field_def: field_def.xml
        file_def: file_def.xml
        file_def_agrif: file_def_agrif.xml
        io_def: iodef.xml
        axis_def: axis_def.xml
        grid_def: grid_def.xml
        ifs_xml: ifs_xml/*
        context_ifs: context_ifs.xml

ignore_sources:
        xios_out: xios*.out
        xios_err: xios*.err
        xios_int: xios_interpolation_weights*

bin_sources:
        server: ${bin_dir}/xios.x

further_reading:
        - xios/xios.env.yaml
