#########################################################################################
######################### AWICM 1 YAML CONFIGURATION FILE ###############################
#########################################################################################


# first, import the output fields for FESOM and RECOM. Eg. yearly_outputs,
# monthly_outputs, daily_outputs, 12_step_outputs
#further_reading: awicm_recom/awicm_recom_outputs.yaml

general:
        model: awicm
        #model_dir: ${esm_master_dir}/awicm-${version}

        coupled_setup: True

        include_models:
                - echam
                - fesom
                - oasis3mct

        version: "1.1"
        scenario: "PI-CTRL"
        resolution: ${echam.resolution}_${fesom.resolution}
        postprocessing: false
        post_time: "00:05:00"
        choose_general.resolution:
                T63_CORE2:
                        compute_time: "02:00:00"
                T63_REF87K:
                        compute_time: "02:00:00"
                T63_REF:
                        compute_time: "02:00:00"
        available_versions:
        - '1.0'
        - '1.0-recom'
        - CMIP6
        choose_version:
          '1.0':
            couplings:
            - fesom-1.4+echam-6.3.04p1
          '1.0-recom':
            couplings:
            - fesom-1.4+recom-2.0+echam-6.3.04p1
            add_include_models:
            - recom
          CMIP6:
            couplings:
            - fesom-1.4+echam-6.3.04p1



#########################################################################################
########### necessary changes to submodels compared to standalone setups ################
#########################################################################################

echam:
        restart_firstlast: "first"
        namelist_changes:
                namelist.echam:
                        runctl:
                                lcouple: .true.
        adj_input_dir: "${fesom.mesh_dir}/tarfiles${echam.resolution}/input/echam6"
        model_dir: ${general.model_dir}/echam-${echam.version}
        setup_dir: ${general.model_dir}
        ocean_resolution: "${fesom.resolution}"
        remove_forcing_files:
                - sst
                - sic
        version: "6.3.04p1"

        scenario: "${general.scenario}"

# kh 20.03.20 values may be superseded by section choose_computer.cores_per_node: in .../configs/echam/echam.yaml
        choose_general.resolution:
                T63_CORE2:
                        nproca: 24
                        nprocb: 24
                T63_REF87K:
                        nproca: 24
                        nprocb: 24
                T63_REF:
                        nproca: 24
                        nprocb: 24


#########################################################################################


jsbach:
        adj_input_dir: "${fesom.mesh_dir}/tarfiles${echam.resolution}/input/jsbach"
        choose_jsbach.dataset:
                "r0009":
                        cover_fract_dir: "${fesom.mesh_dir}/tarfiles${echam.resolution}/input/jsbach"
                "r0008":
                        cover_fract_dir: "${fesom.mesh_dir}/tarfiles${echam.resolution}/input/jsbach"
        namelist_changes:
                namelist.jsbach:
                        hydrology_ctl:
                                gethd: "remove_from_namelist"
                                puthd: "remove_from_namelist"
        version: "3.20"


#########################################################################################


fesom:
        choose_general.version:
                "1.1":
                        version: "1.4"
                "CMIP6":
                        version: "1.4"
                "1.0-recom":
                        version: "1.4-recom-awicm"
                        add_namelist_changes:
                            namelist.oce:
                                viscdiff:
                                    Kh0: 800.0 # default for setup with recom involved
                "2.0":
                        version: "2.0"
        choose_general.resolution:
                T63_CORE2:
                        nproc: 288
                T63_REF87K:
                        nproc: 216
                T63_REF:
                        nproc: 128

        opbnd_dir: ""
        tide_forcing_dir: ""
        forcing_data_dir: ""
        model_dir: ${general.model_dir}/fesom-${fesom.version}
        setup_dir: ${general.model_dir}

        namelist_changes:
                namelist.oce:
                        boundary:
                                restore_s_surf: 0.0

        leapyear: True
        asforcing: ECHAM5

###############################################################################

recom:
    choose_general.version:
        1.0-recom:
            version: "2.0-recom-awicm"

            # NOTE: look at README.md for description of the namelists
            scenario: "${general.scenario}"

            # setup-specific namelist.recom
            config_sources:
                recom: "${namelist_dir}/namelist.recom_co2_coupling"
            add_config_in_work:
                recom: "namelist.recom"
        "*":
            not_used: ""

#########################################################################################

oasis3mct:
        model_dir: ${general.model_dir}/oasis

        process_ordering:
                - fesom
                - echam

        a2o_lag: "${echam.time_step}"
        o2a_lag: "${fesom.time_step}"
        a2o_seq: 2

        coupling_time_step: 3600
        coupling_target_fields:
                o2a_flux:
                        - 'sst_atmo:sit_atmo:sie_atmo <--distwgt-- sst_feom:sit_feom:sie_feom'
                        - 'snt_atmo <--distwgt-- snt_feom'

                a2o_flux:
                        - 'taux_oce:tauy_oce:taux_ico:tauy_ico <--bicubic-- taux_atm:tauy_atm:taux_ica:tauy_ica'
                        - 'prec_oce <--distwgt-- prec_atm'
                        - 'snow_oce <--distwgt-- snow_atm'
                        - 'evap_oce <--distwgt-- evap_atm'
                        - 'subl_oce <--distwgt-- subl_atm'
                        - 'heat_oce <--distwgt-- heat_atm'
                        - 'heat_ico <--distwgt-- heat_ica'
                        - 'heat_swo <--distwgt-- heat_swa'
                        - 'hydr_oce <--distwgt-- hydr_atm'
        choose_general.version:
            1.0-recom:
                add_coupling_target_fields:
                    add_o2a_flux:
                        - 'co2_atmo <--distwgt-- co2_feom'
                    add_a2o_flux:
                        - 'co2c_oce <--distwgt-- co2c_atm'
                        - 'w10w_oce <--distwgt-- w10w_atm'

        coupling_directions:
                'feom->atmo':
                        lag: ${o2a_lag}
                        seq: 2
                'atmo->feom':
                        lag: ${a2o_lag}
                        seq: ${a2o_seq}


        coupling_methods:
                distwgt:
                        time_transformation: instant
                        remapping:
                                distwgt:
                                        search_bin: latitude
                                        nb_of_search_bins: 15
                                        nb_of_neighbours: 6
                bicubic:
                        time_transformation: instant
                        remapping:
                                bicubic:
                                        search_bin: latitude
                                        nb_of_search_bins: 15

        add_restart_out_files:
                rmp_a2f_B: rmp_a2f_B
                rmp_a2f_D: rmp_a2f_D
                rmp_f2a_D: rmp_f2a_D

        add_restart_out_in_work:
                rmp_a2f_B: rmp_atmo_to_feom_BICUBIC.nc
                rmp_a2f_D: rmp_atmo_to_feom_DISTWGT.nc
                rmp_f2a_D: rmp_feom_to_atmo_DISTWGT.nc

        add_restart_out_sources:
                rmp_a2f_B: rmp_atmo_to_feom_BICUBIC.nc
                rmp_a2f_D: rmp_atmo_to_feom_DISTWGT.nc
                rmp_f2a_D: rmp_feom_to_atmo_DISTWGT.nc

        add_restart_in_files:
                rmp_a2f_B: rmp_a2f_B
                rmp_a2f_D: rmp_a2f_D
                rmp_f2a_D: rmp_f2a_D

        add_restart_in_in_work:
                rmp_a2f_B: rmp_atmo_to_feom_BICUBIC.nc
                rmp_a2f_D: rmp_atmo_to_feom_DISTWGT.nc
                rmp_f2a_D: rmp_feom_to_atmo_DISTWGT.nc

        add_restart_in_sources:
                rmp_a2f_B: rmp_atmo_to_feom_BICUBIC.nc
                rmp_a2f_D: rmp_atmo_to_feom_DISTWGT.nc
                rmp_f2a_D: rmp_feom_to_atmo_DISTWGT.nc


