[submodule "src/esm_tests/resources"]
	path = src/esm_tests/resources
	url = https://github.com/esm-tools/esm_tests_info
	branch = release
[submodule "couplings"]
	path = couplings
	url = https://github.com/esm-tools/esm_iterative_coupling.git
