#
# Runoff mapper YAML file
#

model: rnfmap
executable: rnfma
execution_command: rnfma
version: focioifs1
type: river

description: |
        River routing scheme taken from EC-Earth
        Modified for use in FOCI

##
## Compile information 
##
available_versions:
- ec-earth
- awicm-3.0
- awicm-frontiers
- focioifs
- focioifs1
choose_version:
  ec-earth:
    branch: esm-tools
  awicm-frontiers:
    branch: awicm-3-frontiers
    destination: rnfmap
  awicm-3.0:
    branch: awicm3-frontiers-freeze-candidate-1
    destination: rnfmap
  focioifs:
    branch: esm-tools-focioifs
  focioifs1:
    branch: esm-tools-focioifs
clean_command: rm -rf bin; cd src; make clean; cd ..
comp_command: rm -rf bin; mkdir bin; cd src; make ; cd .. ; cp bin/rnfmap.exe ./bin/rnfma
git-repository: https://gitlab.dkrz.de/ec-earth/runoff-mapper.git
install_bins: bin/rnfma
##
## Directories
##
model_dir: ${general.model_dir}
bin_dir: ${model_dir}/bin
pool_dir: "${computer.pool_directories.pool}"
input_dir: "${pool_dir}/runoff-mapper"
namelist_dir: ${general.esm_namelist_dir}/rnfmap/
runoff_maps_name: ""

parent_expid: "test" 
parent_dir: "${pool_dir}/RUNOFF_MAPPER/restart/${parent_expid}"

resolution: 512x256

generate_namelist: 1

restart: 1
restart_rate: 1
restart_unit: 'months'

namelists:
        - "namelist.runoffmapper"

choose_resolution:
        512x256:
                nx: 512
                ny: 256
                time_step: ${oasis3mct.time_step}

nproca: 1
nprocb: 1

runoff_method: "old"
                         
runtime_seconds: "$(( $((${end_date} + 1days)) - ${start_date} ))"

lresume: false

bin_sources: 
        bin: ${bin_dir}/${executable}

config_sources:
        namelist.runoffmapper: "${namelist_dir}/namelist.runoffmapper"

input_files: {}

input_in_work:
        runoff_maps: runoff_maps.nc

input_sources:
        runoff_maps: ${input_dir}/runoff_maps${runoff_maps_name}.nc

coupling_fields:
        "[[runoff_fields_recv-->FIELD]]":
                grid: rnfa
        "[[runoff_fields_send-->FIELD]]":
                grid: opaf

choose_runoff_method:
        'new':
                runoff_fields_recv: [R_Runoff_atm]
                runoff_fields_send: [R_Runoff_oce]
                calving_fields_send: [R_Calving_oce]
                add_coupling_fields:
                        "[[runoff_fields_send-->FIELD]]":
                                grid: rnfm
                        "[[calving_fields_send-->FIELD]]":
                                grid: rnfs
        '*':
                runoff_fields_recv: [R_Runoff_atm]
                runoff_fields_send: [R_Runoff_oce]
                add_coupling_fields:
                        "[[runoff_fields_send-->FIELD]]":
                                grid: rnfo
        'awicm3-deck':
                runoff_fields_recv: [R_Runoff_atm]
                runoff_fields_send: [R_Runoff_oce]
        'awicm3-default':
                runoff_fields_recv: [R_Runoff_atm,R_Calving_atm]
                runoff_fields_send: [R_Runoff_oce,R_Calving_oce]

namelist_changes:
        namelist.runoffmapper:
                NAMRNFMAP:
                        RunLengthSec: ${runtime_seconds}
                        TimeStepSec: ${time_step}

grids:
        rnfa:
                name: rnfa
                nx: 512
                ny: 256
                oasis_grid_type: "LR"

choose_general.setup_name:
        focioifs:
                add_grids:
                        opaf:
                                name: opaf
                                nx: "${nemo._nx}"
                                ny: "${nemo._ny}"
                                oasis_grid_type: "LR"
                                number_of_overlapping_points: 2
                        rnfo:
                                name: rnfo
                                nx: "${nemo._nx}"
                                ny: "${nemo._ny}"
                                oasis_grid_type: "LR"
                                number_of_overlapping_points: 0
                        rnfm:   
                                name: rnfm
                                nx: 512
                                ny: 256
                                oasis_grid_type: "LR"
                        rnfs:
                                name: rnfs
                                nx: 512
                                ny: 256
                                oasis_grid_type: "LR"
#
# Setup up compile and runtime environment i.e. what needs
# to be changed w.r.t the default config/machines/<computer>.yaml
#
compiletime_environment_changes:
   add_export_vars:
      # OASIS
      - 'OIFS_OASIS_BASE=$(pwd)/oasis'
      - 'OIFS_OASIS_INCLUDE="-I$OIFS_OASIS_BASE/build/lib/psmile -I$OIFS_OASIS_BASE/build/lib/psmile/scrip -I$OIFS_OASIS_BASE/build/lib/psmile/mct -I$OIFS_OASIS_BASE/build/lib/psmile/mct/mpeu"'
      - 'OIFS_OASIS_LIB="-L$OIFS_OASIS_BASE/build/lib/psmile -L$OIFS_OASIS_BASE/build/lib/psmile/scrip -L$OIFS_OASIS_BASE/build/lib/psmile/mct -L$OIFS_OASIS_BASE/build/lib/psmile/mct/mpeu -lpsmile -lmct -lmpeu -lscrip"'
      # NetCDF
      - 'OIFS_NETCDF_INCLUDE="-I$NETCDFROOT/include"'
      - 'OIFS_NETCDF_LIB="-L$NETCDFROOT/lib -lnetcdf"'
      - 'OIFS_NETCDFF_INCLUDE="-I$NETCDFFROOT/include"'
      - 'OIFS_NETCDFF_LIB="-L$NETCDFFROOT/lib -lnetcdff"'
      # compiler and compiler flags
      - 'OIFS_FC=$FC'
      - 'OIFS_FFLAGS="-r8 -fp-model precise -align array32byte -O3 -xCORE_AVX2 -g -traceback -convert big_endian -fpe0"'
      - 'OIFS_FFIXED=""'
      - 'OIFS_FCDEFS="BLAS LITTLE LINUX INTEGER_IS_INT"'
      - 'OIFS_LFLAGS=$OIFS_MPI_LIB'
      - 'OIFS_CC=$CC'
      - 'OIFS_CFLAGS="-fp-model precise -O3 -xCORE_AVX2 -g -traceback -qopt-report=0 -fpe0"'
      - 'OIFS_CCDEFS="LINUX LITTLE INTEGER_IS_INT _ABI64 BLAS"'
