# ICON climate and weather forecast model configuration 
# As I (seb-wahl) keep getting confused with the different ICON versions 
# here's my personal summary
#    * ICON-AES: ICON version with ECHAM physics (AES=Atmosphere in the Earth System)
#    * ICON-LEM: Limited area model version, seems to be deprecated
#    * ICON-NWP: NWP version used at DWD
#    * ICON-SEAMLESS: „climate“ version based on NWP physics.
#    * ICON RUBY: ICON-ESM coupled to ICON-O with ECHAM physics, published in Jungclaus, J. H., Lorenz, S. J., Schmidt, H., Gutjahr, O., Haak, H., Mehlmann, C., … Hanke, M. (2021). The ICON Earth System Model Version 1.0. Journal of Advances in Modeling Earth Systems. https://doi.org/10.1002/essoar.10507989.1 
#    * ICON SAPPHIRE: High resolution version pushed at MPI, see Hohenegger, C., Korn, P., Linardakis, L., Redler, R., Schnur, R., Adamidis, P., … Stevens, B. (2023). ICON-Sapphire: Simulating the components of the Earth system and their interactions at kilometer and subkilometer scales. Geoscientific Model Development, 16(2), 779–811. https://doi.org/10.5194/gmd-16-779-2023 for details
#    * ICON-APE - ICON Aquaplanet Experiments
#
model: icon 
version: 2.6.6 
configuration: aes # ECHAM physics, nwp for NWP physics

metadata:
        Institute: MPI-Met 
        Description: The ICON atmosphere model, major version 2 
        Authors: Marco Giorgetta (marco.giorgetta@mpimet.mpg.de), Peter Korn, Christian Reick, Reinhard Budich
        Publications:
                - 'ICON-A, the Atmosphere Component of the ICON Earth System Model: I. Model Description <https://doi.org/10.1029/2017MS001242>'
        License:
                Please make sure you have a valid licence before using ICON, for licensing details see https://code.mpimet.mpg.de/projects/icon-license

# currently https://git.geomar.de/foci/src/icon.git only contains version 2.6.6 as received from MPI
# via a personal licence.
git-repository: https://git.geomar.de/foci/src/icon.git
branch: master
# workaround until esm_master becomes more clever
comp_command: '$ICON_CONFIGURE_COMMAND ; make -j 16' 

clean_command: ${defaults.clean_command}
executable: icon 

choose_version:
    2.6.6: 
        branch: master 
    default: 
        branch: master 

# This section takes care of dealing with environment changes you might want to do, to
# deviated from the defaults define for the specific machine
# (``configs/machine/<the_machine_used>.yaml``). For more information consult:
# https://esm-tools.readthedocs.io/en/latest/esm_environment.html#esm-environment
environment_changes:
   choose_computer.name:
      levante:
         iolibraries: None 
         compiler_mpi: None
         # this should work but esm_master is still stupid and can't resolve computer.name
         #comp_command: ./config/dkrz/levante.intel --enable-openmp ; make -j 16 
         add_module_actions:
            - purge
            - load git
            - load intel-oneapi-compilers/2022.0.1-gcc-11.2.0 
         export_vars:
            ICON_CONFIGURE_COMMAND: "'./config/dkrz/levante.intel --enable-openmp'"
            # optimization settings (from DKRZ)
            SLURM_DIST_PLANESIZE: ${nproma}
            ICON_THREADS: ${omp_num_threads}
            OMP_SCHEDULE: dynamic,1
            OMP_DYNAMIC: "false"
            OMP_STACKSIZE: '200M'
            KMP_AFFINITY: granularity=fine,scatter
            KMP_LIBRARY: turnaround
            MALLOC_TRIM_THRESHOLD_: -1
            MKL_DEBUG_CPU_TYPE: 5
            MKL_ENABLE_INSTRUCTIONS: AVX2
            OMPI_MCA_btl: self
            OMPI_MCA_coll: ^ml,hcoll
            OMPI_MCA_io: romio321
            OMPI_MCA_osc: ucx
            OMPI_MCA_pml: ucx
            UCX_HANDLE_ERRORS: bt
            UCX_TLS: shm,dc_mlx5,dc_x,self
            UCX_UNIFIED_MODE: y

file_movements:
        input:
            all_directions: link
        forcing:
            all_directions: link
        restart_in:
            all_directions: link
        restart_out:
            all_directions: move
        outdata:
            all_directions: move
        unknown:
            all_directions: move

# format start_date/end_date according to ISO_8601 standard used by ICON
start_rsttime: ${start_date!syear!smonth!sday}T${start_date!shour!sminute!ssecond}Z
end_rsttime: ${next_date!syear!smonth!sday}T${next_date!shour!sminute!ssecond}Z
# By default do a cold start
lresume: false

# parallelization
nproma: 32

# grid settings
grid_id: '0005'
grid_label: G
grid_refinement: R02B04
grid_name: icon_grid_${grid_id}_${grid_refinement}_${grid_label}

# time step (4min), ICON uses the http://en.wikipedia.org/wiki/ISO_8601 standard
# for time stamps and time periods
modelTimeStep: PT4M 

# restart intervals
checkpoint_interval: P01M
restart_interval: P01M

# output intervals
output_interval: P01D
# always use a file interval >> restart_interval as a new output file is 
# created upon each restart
file_interval: P50Y 
# instant ("") or mean/max/min/acc over output_interval
# TODO: check if precip is still accumulated or really averaged
operation: mean
#
# JSBACH settings
#
jsbach_usecase: jsbach_pfts    # jsbach_lite or jsbach_pfts
jsbach_with_lakes: yes
jsbach_with_hd: no
jsbach_with_carbon: no         # yes needs jsbach_pfts usecase
jsbach_check_wbal: no          # check water balance

# 5 = default prescribed ozone
# 1 = Cariolle ozone chemistry
with_ozone: 5
# 0 = no aerosol in radiation
# 18 = Kinne background aerosol + Stenchikov volcanic aerosol in the
#      stratosphere + MacSP V2 simple plumes
# for other options see doc/Namelist_Overview.pdf in the ICON repository
aerosol: 18

input_dir: ${computer.pool_dir}/ICON
choose_computer.name:
   levante:
      choose_configuration:
         aes:
            icon_pool: ${input_dir}/grids/private/mpim/icon_preprocessing/source
            aero_dir: ${input_dir}/grids/private/rene/mpim
            grid_dir: ${input_dir}/grids

llake: .false.
choose_jsbach_with_lakes:
   yes:
      llake: .true.

lcarbon: .false.
choose_jsbach_with_carbon:
   yes:
      lcarbon: .true.

pft_file_tag: ""
choose_jsbach_usecase:
   jsbach_pfts:
      pft_file_tag: 11pfts_
#
# namelists and namelist settings/changes
#
namelist_dir: "${general.esm_namelist_dir}/icon/${version}/${configuration}/"
namelists:
    - NAMELIST_atm
    - NAMELIST_lnd
    - icon_master.namelist

config_sources:
   'icon_master.namelist': ${namelist_dir}/icon_master.namelist 
   NAMELIST_atm: ${namelist_dir}/NAMELIST_atm   
   NAMELIST_lnd: ${namelist_dir}/NAMELIST_lnd   

# https://esm-tools.readthedocs.io/en/latest/yaml.html#changing-namelists
namelist_changes:
   'icon_master.namelist': 
      master_nml:
         lrestart: ${lresume}
      master_time_control_nml:
         experimentStartDate: ${start_date}
         experimentStopDate: ${next_date}
         restartTimeIntval: ${restart_interval} 
         checkpointTimeIntval: ${checkpoint_interval}
         
   NAMELIST_atm:
      parallel_nml:
         nproma: ${nproma}
      grid_nml:
         dynamics_grid_filename: ${grid_name}.nc
      run_nml:
         modelTimeStep: ${modelTimeStep} 
         msg_level: 15
         restart_filename: ${expid}_restart_atm_<rsttime>.mfr
      aes_phy_nml:
         aes_phy_config(1)%llake: ${llake}
      aes_rad_nml:
         aes_rad_config(1)%irad_o3: ${with_ozone} 
      output_nml:
         output_filename: ${expid}
         output_start: ${start_date}
         output_end: ${next_date}
         output_interval: ${output_interval}
         file_interval: ${file_interval}
         # TODO: operation = 'mean' not working at least not with
         # my set of output variables
         # operation: ${operation}
               
   NAMELIST_lnd:
      jsb_model_nml:
         usecase: ${jsbach_usecase}
         use_lakes: ${llake}
      jsb_fuel_nml:
         active: ${lcarbon}

choose_jsbach_with_hd:
   yes:
      add_namelist_changes:
         NAMELIST_lnd:
            jsb_hd_nml:
               active: true
               routing_scheme: full
               bc_filename: bc_land_hd.nc
               diag_water_budget: true 
               debug_hd: false
               enforce_water_budget: true  # True: stop in case of water conservation problem

choose_with_ozone:
   1:
      add_input_files:
         ozone_cariolle: ozone_cariolle
   5:
      add_forcing_files:
         ozone_hist: ozone_hist

choose_aerosol:
   18:
      add_input_files:
         kinne_sw: kinne_sw
         kinne_lw: kinne_lw
         kinne_fin: kinne_fin
      add_forcing_files:
         stenchikov_sw: stenchikov_sw
#
# output data settings
#
outdata_sources:
   icon_nc: ${expid}_*_${start_rsttime}.nc
#
# restart settings, ICON uses multifile restarts
#
# all restart files are stored in a subdirectory in work at the end of a run
restart_in_files:
   restart_atm_mfr: restart_atm_mfr
restart_in_sources: 
   #restart_atm: /path/to/global/restart_atm_DOM01.nc
   restart_atm_mfr: ${parent_expid}_restart_atm_${start_rsttime}.mfr
restart_in_in_work:
   restart_atm_mfr: multifile_restart_atm.mfr 

restart_out_sources: 
   #restart_atm: /path/to/global/restart_atm_DOM01.nc
   restart_atm_mfr: ${expid}_restart_atm_${end_rsttime}.mfr
#restart_out_targets: 
   #restart_atm: /path/to/global/restart_atm_DOM01.nc
   #   restart_atm_mfr: ${expid}_restart_atm_${end_rsttime}.mfr/*

bin_sources:
    bin_tag: ${model_dir}/bin/${executable} # This would be the normal way to do it

#
# input and forcing files
# 
choose_lresume:
   false:
      add_input_files:
         ifs2icon: ifs2icon

input_files:
   coefficients_sw: coefficients_sw
   coefficients_lw: coefficients_lw
   cloud_optics_sw: cloud_optics_sw
   cloud_optics_lw: cloud_optics_lw
   vardict: vardict
   atmo_dyn_grid: atmo_dyn_grid 
   atmo_dyn_grid_grfinfo: atmo_dyn_grid_grfinfo 
   greenhouse_gases: greenhouse_gases
   macv2_sp: macv2_sp
   swflux: swflux
   sst: sst
   sic: sic
   land_sso: land_sso 
   land_frac: land_frac
   land_phys: land_phys
   land_soil: land_soil
   lctlib: lctlib
   ic_land_soil: ic_land_soil

forcing_sources:
   ozone_hist: 
      "${icon_pool}/ozone/cmip6/${grid_refinement}_${grid_label}//bc_ozone_historical_1850.nc":
         to: 1850
      "${icon_pool}/ozone/cmip6/${grid_refinement}_${grid_label}//bc_ozone_historical_@YEAR@.nc":
         from: 1851
         to: 2014
      # TODO: do proper scenario setup
      "${icon_pool}/ozone/cmip6/${grid_refinement}_${grid_label}//bc_ozone_historical_2014.nc":
         from: 2014
   # Stenchikov stratospheric aerosol
   # see also /pool/data/ICON/grids/private/rene/mpim/independent/CMIP6Forcing, 
   # is this the extension to other years?
   stenchikov_sw: 
      "${icon_pool}/aerosol/stenchikov/bc_aeropt_stenchikov_lw_b16_sw_b14_@YEAR@.nc": 
         from: 1977
         to: 1999 
      "${icon_pool}/aerosol/stenchikov/bc_aeropt_stenchikov_lw_b16_sw_b14_1999.nc": 
         from: 1999

input_sources:
   # input files distributed with the source code
   coefficients_lw: ${model_dir}/externals/rte-rrtmgp/rrtmgp/data/rrtmgp-data-lw-g128-210809.nc 
   coefficients_sw: ${model_dir}/externals/rte-rrtmgp/rrtmgp/data/rrtmgp-data-sw-g112-210809.nc 
   cloud_optics_lw: ${model_dir}/data/ECHAM6_CldOptProps_rrtmgp_lw.nc
   cloud_optics_sw: ${model_dir}/data/ECHAM6_CldOptProps_rrtmgp_sw.nc
   # "dictionary" describing the translation of user-defined shortnames with names used
   # in ICON's "add_var" call
   vardict: ${model_dir}/run/dict.iconam.mpim
   # ICON grid description file
   # TODO: implement nested grids correctly
   atmo_dyn_grid: ${icon_pool}/grids/${grid_name}.nc 
   atmo_dyn_grid_grfinfo: ${icon_pool}/grids/${grid_name}-grfinfo.nc 
   # initial conditions
   ifs2icon: ${icon_pool}/initial_condition/ifs2icon_1979010100_${grid_refinement}_${grid_label}.nc
   ic_land_soil: ${icon_pool}/preliminary_land/r0002/${grid_refinement}_${grid_label}/land/ic_land_soil_1976.nc
   greenhouse_gases: ${icon_pool}/greenhouse_gases/greenhouse_historical_plus.nc
   ozone_cariolle: ${icon_pool}/greenhouse_gases/bc_ozone_cariolle.nc
   macv2_sp: ${model_dir}/data/MACv2.0-SP_v1.nc
   # Kinne background aerosol
   kinne_lw: ${icon_pool}/aerosol_29-06-2018/kinne/${grid_refinement}_${grid_label}/bc_aeropt_kinne_lw_b16_coa.nc
   kinne_sw: ${icon_pool}/aerosol_29-06-2018/kinne/${grid_refinement}_${grid_label}/bc_aeropt_kinne_sw_b14_coa.nc
   kinne_fin: ${icon_pool}/aerosol_29-06-2018/kinne/${grid_refinement}_${grid_label}/bc_aeropt_kinne_sw_b14_fin_1850.nc
   # SST / sea ice
   sic: ${icon_pool}/sst_and_seaice/1.1.2/sic_${grid_refinement}_${grid_label}.nc
   sst: ${icon_pool}/sst_and_seaice/1.1.2/sst_${grid_refinement}_${grid_label}.nc
   swflux: ${icon_pool}/solar_radiation/3.2/swflux_14band_cmip6_1850-2299-v3.2.nc
   land_sso: ${icon_pool}/preliminary_land_22-02-2018/${grid_refinement}_${grid_label}/land/bc_land_sso_1976.nc
   land_frac: ${icon_pool}/preliminary_land/r0002/${grid_refinement}_${grid_label}/land/bc_land_frac_${pft_file_tag}1976.nc 
   land_phys: ${icon_pool}/preliminary_land/r0002/${grid_refinement}_${grid_label}/land/bc_land_phys_1976.nc
   land_soil: ${icon_pool}/preliminary_land/r0002/${grid_refinement}_${grid_label}/land/bc_land_soil_1976.nc
   lctlib: ${model_dir}/externals/jsbach/data/lctlib_nlct21.def

input_in_work:
   coefficients_sw: coefficients_sw.nc
   coefficients_lw: coefficients_lw.nc
   cloud_optics_sw: rrtmgp-cloud-optics-coeffs-sw.nc
   cloud_optics_lw: rrtmgp-cloud-optics-coeffs-lw.nc
   vardict: vardict.txt
   atmo_dyn_grid: ${grid_name}.nc
   atmo_dyn_grid_grfinfo: ${grid_name}-grfinfo.nc
   ifs2icon: ifs2icon.nc
   ic_land_soil: ic_land_soil.nc
   greenhouse_gases: bc_greenhouse_gases.nc
   ozone_cariolle: cariolle_coeff.nc
   macv2_sp: MACv2.0-SP_v1.nc
   kinne_lw: bc_aeropt_kinne_lw_b16_coa.nc 
   kinne_sw: bc_aeropt_kinne_sw_b14_coa.nc 
   kinne_fin: bc_aeropt_kinne_sw_b14_fin.nc 
   sic: bc_sic.nc
   sst: bc_sst.nc
   swflux: bc_solar_irradiance_sw_b14.nc
   land_sso: bc_land_sso.nc
   land_frac: bc_land_frac.nc
   land_phys: bc_land_phys.nc
   land_soil: bc_land_soil.nc
   lctlib: lctlib_nlct21.def

forcing_in_work:
   ozone_hist: bc_ozone_@YEAR@.nc
   stenchikov_sw: bc_aeropt_stenchikov_lw_b16_sw_b14_@YEAR@.nc 

forcing_additional_information:
   ozone_hist:
      - need_year_before
      - need_year_after
   stenchikov_sw:
      - need_year_before
      - need_year_after
