! This is the namelist file for model general configuration

&modelname
runid='fesom'
/

&timestep
step_per_day=<stp_per_day>
run_length=<restart>
run_length_unit=<restart_unit> 		! y, m, d, s
/

&clockinit
timenew=0.0
daynew=1
yearnew=<startyear>
/

&paths
MeshPath=<meshpath>
OpbndPath=<opbndpath>
ClimateDataPath=<climatedatapath>
ForcingDataPath=<forcingdatapath>
TideForcingPath=<tideforcingpath>
ResultPath=<resultpath>
/

&initialization
use_prepared_init_ice=.false.    	!how to init. ice; runid.initial_ice.nc
OceClimaDataName='Winter_PHC3_ts.out' 	!which T/S data to initial. ocean
					!'Winter_PHC3_ts.out'
					!'Annual_PHC3_ts.out'
/

&inout
restartflag=<restartflag>               !restart from which saved record,'last,'#'
output_length=<restart>                 !only required for m,d,h,s cases,  y takes 1
output_length_unit='<restart_unit>'     !output period: y, m, d, h, s 
restart_length=<restart>		!only required for d,h,s cases,  y, m take 1
restart_length_unit='<restart_unit>'   	!output period: y,  d, h, s 
logfile_outfreq=100  	                !in logfile info. output frequency, # steps
/

&mesh_def
grid_type=1			!1 z-level, 2 sigma, 3 z+sigma
part_format=0 
/

&geometry
domain_length=360.    	        ![degree]
cartesian=.false.
fplane=.false.
betaplane=.false.
f_fplane=-1.4e-4        	![1/s]
beta_betaplane=2.0e-11  	![1/s/m]
rotated_grid=.true. 	  	!option only valid for coupled model case now
force_rotation=.true.		!set to .true. for some unrotated meshes
alphaEuler=50.			![degree] Euler angles, convention:
betaEuler=15.	 		![degree] first around z, then around new x,
gammaEuler=-90.			![degree] then around new z.
/

&calendar
include_fleapyear=.true.
/

