# =============================================================================
# RECOM (Regulated Ecosystem Model) YAML CONFIGURATION FILE
# =============================================================================

model: recom
metadata:
    Institute: Alfred Wegener Institute for Polar and Marine Research (AWI)
    Description:
        REcoM (Regulated Ecosystem Model) is an ecosystem and biogeochemistry model.
    Authors: Judith Hauck, Ozgur Gurses
    Publications:
        - "Seasonally different carbon flux changes in the Southern Ocean in response to the southern annular mode <https://doi.org/10.1002/2013GB004600>"
        - "Arctic Ocean biogeochemistry in the high resolution FESOM 1.4-REcoM2 model <https://doi.org/10.1016/j.pocean.2018.09.006>"
    License:
        https://recom.readthedocs.io/en/latest/index.html
contact: "miguel.andres-martinez(at)awi.de, ozgur.gurses(at)awi.de"

# defaults
version: '2.0'
git-repository: https://gitlab.dkrz.de/modular_esm/recom.git
use_ciso: false
use_medusa: false
scenario: "PI-CTRL"

available_versions:
    - '2.0'
    - '2.0-awicm'
    - '3.0'

choose_version:
    '2.0':
        comp_strategy: "lib"
        branch: oxygen
        destination: recom
        # additional recom output in ocean-only fesom1+recom2 setup
        # (see default recom output at the bottom of this file)
        # 1. variable names are case sensitive
        # 2. please keep alphabetic order
        add_yearly_outputs:
            - AGGdia3d
            - AGGphy3d
            - calcdiss
            - calcif3d
            - EXCdia3d
            - EXCphy3d
            - GNAsdia3d
            - GNAsphy3d
            - GPPdia3d
            - GPPphy3d
            - GRAZdia3d
            - GRAZphy3d
            - NNAsdia3d
            - NNAsphy3d
            - NPPdia3d
            - NPPphy3d
            - RESdia3d
            - RESphy3d
            - RESzoo3d
            - TotGraz3d
        add_monthly_outputs:
            - bgc23
            - bgc24
            - bgc25
            - bgc26
            - bgc27
            - bgc28
            - diags3d03
            - diags3d04
            - diags3d05
            - diags3d06
            - diags3d07
            - diags3d08
            - diags3d09
            - diags3d10
            - diags3d11
            - diags3d12
            - diags3d13
            - diags3d14
            - diags3d15
            - diags3d16
            - diags3d17
            - diags3d18
            - diags3d19
            - diags3d20
    2.0-awicm:
        comp_strategy: "lib"
        branch: oxygen
        destination: recom
    "3.0":
        comp_strategy: "flag"
        recom_case: "2p1z1d" # 2p1z1d, 2p3z2d, 3p1z1d, 3p3z2d
        # todo: output

model_dir: "NONE"
setup_dir: "${model_dir}"
bin_dir: "${setup_dir}/bin"
data_path: ""
time_step: 1800 # todo: recom gets its time step always from fesom. its misleading to define it here. should be removed
#chunk_prev_date: $(( ${chunk_start_date} - ${fesom.time_step}seconds ))

choose_comp_strategy:
    "lib": # recom2 is compiled individually and added as library to fesom (similarly as a binary)
        clean_command: ${defaults.clean_command}
        comp_command: mkdir -p build; cd build; cmake ..;  make -j `nproc --all`
        install_libs:
          - build/librecom.a
    "flag": # recom3 is part of fesom2; compiler flag needs to be added to fesom comp cmd
        # necessary compiling flag is defined in fesom yaml

choose_use_ciso:
        true:
                recom_namelist: "namelist.recom.ciso"
                add_namelist_changes:
                        namelist.recom:
                                pavariables:
                                        ciso: true
        false:
                recom_namelist: "namelist.recom"

choose_use_medusa:
        true:
                add_namelist_changes:
                        namelist.recom:
                                pavariables:
                                        use_MEDUSA: true
                                        sedflx_num: 7
                                        add_loopback: true
                choose_lresume:
                        true:
                                choose_general.chunk_number:
                                        1:
                                                add_input_sources:
                                                        flux2fesom: ${data_path}/medusa_flux2fesom.init.nc
                                        "*":
                                                add_input_sources:
                                                        flux2fesom: ${experiment_outdata_dir}/../medusa/medusa_flux2fesom.${prev_chunk_awiesm.general.chunk_end_date}.nc
                                add_input_files:
                                        flux2fesom: flux2fesom
                                add_input_in_work:
                                        flux2fesom: "medusa_flux2fesom.nc"
        false:
                add_namelist_changes:
                        namelist.recom:
                              pavariables:
                                      use_MEDUSA: true
                                      sedflx_num: 0
                                      add_loopback: false

choose_scenario:
        PI-CTRL:
                constant_CO2: true
                REcoM_PI: true
                CO2_for_spinup: 278
                firstyearoffesomcycle: "${general.initial_date!syear}"
                lastyearoffesomcycle: "${general.final_date!syear}"
                numofCO2cycles: 1
                currentCO2cycle: 1
        modern:
                constant_CO2: true
                REcoM_PI: false
                CO2_for_spinup: 400
                firstyearoffesomcycle: "${general.initial_date!syear}"
                lastyearoffesomcycle: "${general.final_date!syear}"
                numofCO2cycles: 1
                currentCO2cycle: 1
        HIST:
                constant_CO2: false
                REcoM_PI: true
                CO2_for_spinup: "0"
                firstyearoffesomcycle: "${f_year_fesom_cycle}"
                lastyearoffesomcycle: "${l_year_fesom_cycle}"
                numofCO2cycles: "${num_CO2_cycles}"
                currentCO2cycle: "${current_CO2_cycle}"
#4.7.22 Ying: to use a different namelist.recom for LGM
        lgm:
                namelist_sce: ".lgm"
        "*":
                constant_CO2: ""
                REcoM_PI: ""
                CO2_for_spinup: ""
                firstyearoffesomcycle: ""
                lastyearoffesomcycle: ""
                numofCO2cycles: ""
                currentCO2cycle: ""
                add_warning:
                    "wrong scenario type":
                        message: "
                            The ``scenario`` you specified (``${recom.scenario}``) is
                            not supported! The following ``recom`` variables will be
                            defined as ``empty`` unless you defined them in your
                            runscript:
                            \n- constant_CO2\n- REcoM_PI\n- CO2_for_spinup
                            \n- firstyearoffesomcycle\n- lastyearoffesomcycle
                            \n- numofCO2cycles\n- currentCO2cycle"
                        ask_user_to_continue: True

namelist_sce: ""
namelist_dir: "${general.model_dir}/recom/"

# FESOM-2 standalone + REcoM options
fesom2_standalone: "$((
        '${general.setup_name}' == 'fesom' and
        '2.' in '${fesom.version}'
    ))"
choose_fesom2_standalone:
    True:
        namelist_dir: "${fesom.model_dir}/config/"

namelists:
        - namelist.recom

use_atbox: "remove_from_namelist"
namelist_changes:
        namelist.recom:
                pavariables:
                        REcoMDataPath: "${data_path}"
                        constant_CO2: "${constant_CO2}"
                        firstyearoffesomcycle: "${firstyearoffesomcycle}"
                        lastyearoffesomcycle: "${lastyearoffesomcycle}"
                        numofCO2cycles: "${numofCO2cycles}"
                        currentCO2cycle: "${currentCO2cycle}"
                        REcoM_PI: "${REcoM_PI}"
                        recom_restart: "${recom.lresume}"  # this was in the feat/ssp branch
                        use_atbox: "${use_atbox}"
                paco2_flux_param:
                        CO2_for_spinup: "${CO2_for_spinup}"


config_files:
        recom: recom

config_sources:
        recom: "${namelist_dir}/${recom_namelist}${namelist_sce}"

config_in_work:
        recom: "namelist.recom"

restart_name: ""

restart_in_files:
        bio_restart: bio_restart

restart_in_in_work:
        bio_restart: fesom.${parent_date!syear}.bio.${restart_name}nc

restart_in_sources:
        bio_restart: fesom.${parent_date!syear}.bio.nc

restart_out_files:
        bio_restart: bio_restart

restart_out_in_work:
        bio_restart: fesom.${end_date!syear}.bio.${restart_name}nc

restart_out_sources:
        bio_restart: fesom.${end_date!syear}.bio.nc

choose_computer.name:
        blogin:
                add_compiletime_environment_changes:
                        add_export_vars:
                                - "NETCDF_DIR=/sw/dataformats/netcdf/intel.18/4.7.3/skl/"
                                - "LD_LIBRARY_PATH=$NETCDF_DIR/lib/:$LD_LIBRARY_PATH"
                                - "NETCDF_CXX_INCLUDE_DIRECTORIES=$NETCDF_DIR/include"
                                - "NETCDF_CXX_LIBRARIES=$NETCDF_DIR/lib"
        levante:
                data_path: "/work/ba1103/a270094/MarESys/forcing/CORE2mesh/"

# default recom output, common to all versions
# 1. variable names are case sensitive
# 2. please keep alphabetic order
yearly_outputs:
    - alphaCO2
    - benC
    - benCalc
    - benN
    - benSi
    - denb
    - GNAd
    - GNAn
    - Hp
    - Kw
    - NNAd
    - NNAn
    - rDIN
    - rDOC
    - rDON
    - rDSi
monthly_outputs:
    - aCO2
    - aFe
    - aN
    - bgc01
    - bgc02
    - bgc03
    - bgc04
    - bgc05
    - bgc06
    - bgc07
    - bgc08
    - bgc09
    - bgc10
    - bgc11
    - bgc12
    - bgc13
    - bgc14
    - bgc15
    - bgc16
    - bgc17
    - bgc18
    - bgc19
    - bgc20
    - bgc21
    - bgc22
    - CO2f
    - CO2y
    - diags3d01
    - diags3d02
    - dpCO2s
    - GPPd
    - GPPn
    - NPPd
    - NPPn
    - O2f
    - PAR
    - pCO2s
    - slp
    - virtual_alk
    - virtual_dfe
    - virtual_dic
    - virtual_din
    - virtual_dsi
    - virtual_oxy
    - w10w
daily_outputs: []
12_step_outputs: []

outdata_files:
        "[[yearly_outputs-->OUTPUT]]": OUTPUT
        "[[monthly_outputs-->OUTPUT]]": OUTPUT
        "[[daily_outputs-->OUTPUT]]": OUTPUT
outdata_in_work:
        "[[yearly_outputs-->OUTPUT]]": OUTPUT_fesom_${start_date!syear!smonth!sday}.nc
        "[[monthly_outputs-->OUTPUT]]": OUTPUT_fesom_${start_date!syear!smonth!sday}.nc
        "[[daily_outputs-->OUTPUT]]": OUTPUT_fesom_${start_date!syear!smonth!sday}.nc
outdata_sources:
        "[[yearly_outputs-->OUTPUT]]": OUTPUT_fesom_${start_date!syear!smonth!sday}.nc
        "[[monthly_outputs-->OUTPUT]]": OUTPUT_fesom_${start_date!syear!smonth!sday}.nc
        "[[daily_outputs-->OUTPUT]]": OUTPUT_fesom_${start_date!syear!smonth!sday}.nc

check_error:
        "ERROR: CANNOT READ runoff FILE CORRECTLY":
                frequency: 30
                method: "kill"
                message: "REcoM ERROR: CANNOT READ runoff FILE CORRECTLY"
                file: "stdout"
