name: CI-Ollie-{{ MODEL NAME }}
on:
  push:
    branches: [ release, CI-Ollie ]
  pull_request:
    branches: [ release, CI-Ollie ]

  install_models:
    runs-on: [self-hosted, ollie]
    strategy:
      matrix:
          model:
              - {{ EXPAND ME }}
    steps:
    - uses: actions/checkout@v2
    - name: Compile Model
      run: |
        {{ ASSUMED_USER_SETUP(MACHINE) }}
        {{ BASIC_VERSION_CHECKS }}
        {{ BASIC_INFO }}
        {{ INSTALL PYVENV }}
        pip install .
        which esm_master
        which esm_runscripts
        which esm_versions
        esm_versions check
        rm -rf /work/ollie/pgierz/esm_tools_ollie_ci/${{ matrix.model }}/model_sources
        mkdir -p /work/ollie/pgierz/esm_tools_ollie_ci/${{ matrix.model }}/model_sources
        cd /work/ollie/pgierz/esm_tools_ollie_ci/${{ matrix.model }}/model_sources/
        esm_master install-${{ matrix.model }}
    - name: Cleanup venv
      if: ${{ always() }}
      run: |
        rm -rf env
