hist_fold: hist_harvest

# CD: Only for LU_hist definition is for years larger than 2014 (needed only to load
# forcing data of the current year + 1 to do an interpolation). The historical
# simulation in CMIP6 ends in 2014, the only data that is needed by echam is data from
# 2015 and we agreed to choose the one from the ssp370 scenario (it does not really
# matter which is chosen)
hist_extend_scenario: ssp370

input_sources:
        lctlib: "${echam.model_dir}/lctlib_nlct21.def"
        "jsbach_1850": "${adj_input_dir}/jsbach_${echam.resolution}${echam.ocean_resolution}_11tiles_5layers_1850${jsbachnc_file_ending}.nc"
        "jsbach_1976": "${adj_input_dir}/jsbach_${echam.resolution}${echam.ocean_resolution}_11tiles_5layers_1976${jsbachnc_file_ending}.nc"
        
choose_general.iterative_coupling:
        True:
                add_input_sources:
                        "jsbach_ismc": "${general.experiment_couple_dir}/latest_jsbach_init_file.nc"

        # FOCI specific input sources
        "cpools_foci": "${adj_input_dir}/cpools_${echam.resolution}${echam.ocean_resolution}_pdv0002_51251231.nc"
        "npools_foci": "${adj_input_dir}/cpools_${echam.resolution}${echam.ocean_resolution}_pdv0002_51251231.nc"
        "fpc_foci": "${adj_input_dir}/cpools_${echam.resolution}${echam.ocean_resolution}_pdv0002_51251231.nc"
        "lctlib_foci": "${computer.pool_directories.focipool}/ECHAM6_GENERAL/JSBACH/input/lctlib_nlct21.def"

forcing_sources:
        # harvest
        "LU_1850": "${input_dir}/${echam.resolution}/New_Hampshire_LCC/${hist_fold}/LUH_harvest_${echam.resolution}_1850.nc"
        "LU_1950": "${input_dir}/${echam.resolution}/New_Hampshire_LCC/${hist_fold}/LUH_harvest_${echam.resolution}_1950.nc"
        "LU_HIST":
                "${input_dir}/${echam.resolution}/New_Hampshire_LCC/${hist_fold}/LUH_harvest_${echam.resolution}_1850.nc":
                        to: 1850
                "${input_dir}/${echam.resolution}/New_Hampshire_LCC/${hist_fold}/LUH_harvest_${echam.resolution}_@YEAR@.nc":
                        from: 1851
                        to: 2014
                # HIST scenario will use this data beyond year 2014
                "${input_dir}/${echam.resolution}/New_Hampshire_LCC/${hist_extend_scenario}_harvest/LUH_harvest_${echam.resolution}_@YEAR@.nc":
                        from: 2015

        # landuse transitions
        "LU_trans_none": "${input_dir}/${echam.resolution}/New_Hampshire_LCC/no_LUH_transitions_${echam.resolution}.nc"
        "LU_trans_1850": "${input_dir}/${echam.resolution}/New_Hampshire_LCC/hist${jsbachnc_file_ending}/LUH_scaled_transitions_${echam.resolution}_1850.nc"
        "LU_trans_hist":
            "${input_dir}/${echam.resolution}/New_Hampshire_LCC/hist${jsbachnc_file_ending}/LUH_scaled_transitions_${echam.resolution}_@YEAR@.nc":
                to: 2014
            # For the transient land data use a similar fix like in HIST land use
            "${input_dir}/${echam.resolution}/New_Hampshire_LCC/${hist_extend_scenario}${jsbachnc_file_ending}/LUH_scaled_transitions_${echam.resolution}_@YEAR@.nc":
                from: 2015

        # NOTE: these files are prepared by Christopher Danek (AWI). These are
        # yearly files where each file contain monthly data
        # Used by AWI-CM1 and AWI-CM1-REcoM in Levante for ssp scenarios
        Ndepo_ssp:
                # These files are 12-monthly; see README.md in Ndepo/ directory
                # NOTE: ssp370 might be missing in this directory
                "${input_dir_couple}/${Ndepo_path}@YEAR@.nc":
                    from: 1850
                    to: 2099
                "${input_dir_couple}/${Ndepo_path}2099.nc":
                    from: 2100
                    to: 2101

choose_dataset:
        r0007:
                hist_fold: "hist"
                add_forcing_sources:
                        "cover_fract_HIST":
                                "${cover_fract_dir}/cover_fract_${echam.resolution}${echam.ocean_resolution}_11tiles_1850.nc":
                                        to: 1850
                                "${cover_fract_dir}/cover_fract_${echam.resolution}${echam.ocean_resolution}_11tiles_@YEAR@.nc":
                                        from: 1851
        r0009:
                add_forcing_sources:
                        "Ndepo_1850": "${input_dir}/${echam.resolution}/${echam.resolution}_ndepo_CMIP_NCAR_CCMI-1-0_gr_185001-185012-clim.nc"
                        "a_nd_file": "${input_dir}/${echam.resolution}/spitfire/a_nd_${echam.resolution}.nc"
                        "lightning": "${input_dir}/${echam.resolution}/spitfire/LISOTD_HRMC_V2.2_${echam.resolution}.nc"
                        "popdens":   "${input_dir}/${echam.resolution}/spitfire/population_density_HYDE_${echam.resolution}.nc"
                        "cover_fract_HIST":
                                "${cover_fract_dir}/cover_fract_${echam.resolution}${echam.ocean_resolution}_11tiles_1850.nc":
                                        to: 1850
                                "${cover_fract_dir}/cover_fract_${echam.resolution}${echam.ocean_resolution}_11tiles_@YEAR@.nc":
                                        from: 1851
        r0010:
                add_forcing_sources:
                        "Ndepo_1850": "${input_dir}/${echam.resolution}/${echam.resolution}_ndepo_CMIP_NCAR_CCMI-1-0_gr_185001-185012-clim.nc" # 12 months
                        "Ndepo_1950": "${input_dir}/${echam.resolution}/ndepo/Ndepo.1950.nc"
                        "a_nd_file": "${input_dir}/${echam.resolution}/spitfire/a_nd_${echam.resolution}.nc"
                        "lightning": "${input_dir}/${echam.resolution}/spitfire/LISOTD_HRMC_V2.2_${echam.resolution}.nc"
                        "popdens": "${input_dir}/${echam.resolution}/spitfire/population_density_HYDE_${echam.resolution}.nc" # ndecades
                        # Files used by AWI-CM1 and AWI-CM1-REcoM in Levante for ssp scenarios
                        "popdens_ssp":
                                "${input_dir_couple}/${echam.resolution}/spitfire/population_density_${ssp_num}_${echam.resolution}.nc": # see README.md in this dir
                                        from: 1850
                                        to: 2100
                        "cover_fract_HIST":
                                "${cover_fract_dir}/cover_fract_${echam.resolution}_11tiles_1850.nc":
                                        to: 1850
                                "${cover_fract_dir}/cover_fract_${echam.resolution}_11tiles_@YEAR@.nc":
                                        from: 1851
                        "cover_fract_hist_scenario":
                                "${cover_fract_dir}/cover_fract_11tiles_1850.nc":
                                        to: 1850
                                "${cover_fract_dir}/cover_fract_11tiles_@YEAR@.nc":
                                        from: 1851
                                        to: 2014
                                "${cover_fract_dir}/${echam.scenario}/cover_fract_11tiles_@YEAR@.nc":
                                        from: 2015
                        "LU_trans_hist_scenario":
                                "${input_dir}/${echam.resolution}/New_Hampshire_LCC/hist${dynveg}/LUH_scaled_transitions_${echam.resolution}_@YEAR@.nc":
                                        to: 2014
                                "${input_dir}/${echam.resolution}/New_Hampshire_LCC/${echam.scenario}${dynveg}/LUH_scaled_transitions_${echam.resolution}_@YEAR@.nc":
                                        from: 2015
                        "cover_fract_ssp":
                                "${cover_fract_dir}/cover_fract_${echam.resolution}_11tiles_1850.nc":
                                        to: 2014
                                "${input_dir}/${echam.resolution}/land_use_maps/${echam.scenario}/cover_fract_${echam.resolution}_11tiles_@YEAR@.nc":
                                        from: 2015
                                        to: 2300

                        "LU_hist_scenario":
                                "${input_dir}/${echam.resolution}/New_Hampshire_LCC/hist_harvest/LUH_harvest_${echam.resolution}_1850.nc":
                                        to: 1850
                                "${input_dir}/${echam.resolution}/New_Hampshire_LCC/hist_harvest/LUH_harvest_${echam.resolution}_@YEAR@.nc":
                                        from: 1851
                                        to: 2014
                                "${input_dir}/${echam.resolution}/New_Hampshire_LCC/${echam.scenario}_harvest/LUH_harvest_${echam.resolution}_@YEAR@.nc":
                                        from: 2015

                        "Ndepo_hist_scenario":
                        # TODO: pool on Levante seems to be broken currently.
                        # There are no yearly Ndepo files. ${input_dir_couple}
                        # contains the yearly files
                                "${input_dir}/${echam.resolution}/ndepo/Ndepo.1850.nc":
                                        to: 1850
                                "${input_dir}/${echam.resolution}/ndepo/Ndepo.@YEAR@.nc":
                                        from: 1851
                                        to: 2014
                                # TODO: these files don't exist on Levante
                                "${input_dir}/${echam.resolution}/ndepo/Ndepo_${echam.scenario}.@YEAR@.nc":
                                        from: 2015
