add_compiletime_environment_changes:
        add_export_vars:
                OASIS_FFLAGS: '"-fPIC"'
                OASIS_CFLAGS: '"-fPIC"'
                CFLAGS: '"-fPIC"'
                CCFLAGS: '"-fPIC"'
                FFLAGS: '"-fPIC"'
                FCFLAGS: '"-fPIC"'

choose_oasis3mct.with_yac:
        True:
                yac_libs: " -lyac_utils -lyac_core -lyaxt -lyaxt_c "
                yac_inc_path: "-I$OIFS_OASIS_BASE/lib/include/yac -I$OIFS_OASIS_BASE/lib/yaxt/include"
                yac_lib_path: "-L$OIFS_OASIS_BASE/lib/yac/lib -L$OIFS_OASIS_BASE/lib/yaxt/lib"
                add_runtime_environment_changes:
                        add_export_vars:
                                LD_LIBRARY_PATH[(5)]: ${model_dir}/oasis/lib/yaxt/lib/:${model_dir}/oasis/lib/yac/lib/:$LD_LIBRARY_PATH
        False:
                yac_libs: ""
                yac_inc_path: ""
                yac_lib_path: ""

