add_environment_changes:
        choose_computer.fc:
                ftn:
                        add_export_vars:
                                - 'OASIS_FFLAGS=-emf'
        choose_computer.name:
                levante:
                        add_export_vars:
                                - 'OASIS_FFLAGS="-march=core-avx2 -mtune=core-avx2 -qoverride-limits -m64  -fma -pc64"'
