add_compiletime_environment_changes:
        choose_computer.fc:
                ftn:
                        add_export_vars:
                                - 'OASIS_FFLAGS=-emf'
        choose_computer.name:
                levante:
                        add_export_vars:
                                OASIS_FFLAGS: '"-march=core-avx2 -mtune=core-avx2"'
                albedo:
                    choose_computer.compiler_suite:
                        gcc:
                            add_export_vars:
                                FFLAGS: "'-fallow-argument-mismatch -w'"
                                FCFLAGS: "'-fallow-argument-mismatch -w'"
                        intel-oneapi:
                            add_export_vars:
                                OASIS_FFLAGS: '"-march=core-avx2"'
