# =============================================================================
# FESOM YAML CONFIGURATION FILE
# =============================================================================

model: fesom
type: ocean

# default branch and version
branch: master
destination: fesom-1.4
version: "1.4"

available_versions:
- '1.4'
- '1.4-esm_interface'
- '1.4-recom'
- '1.4-recom-awicm'
- '2.0'
- '2.0-o'
- '2.0-paleodyn'
- '2.0-r' # OG: temporarily here
- '2.1'
- '2.1-recom'
- '2.1-wiso'

choose_version:
    '1.4-esm_interface':
        branch: using_esm-interface
    '1.4-recom':
        branch: fesom_recom_1.4_master
        # add recom variables to fesom1 output scheduler; see components/recom/recom.yaml
        yearly_outputs_for_AWI_FESOM_YAML:
            - "${fesom.yearly_outputs}"
            - "${recom.yearly_outputs}"
        monthly_outputs_for_AWI_FESOM_YAML:
            - "${fesom.monthly_outputs}"
            - "${recom.monthly_outputs}"
        daily_outputs_for_AWI_FESOM_YAML:
            - "${fesom.daily_outputs}"
            - "${recom.daily_outputs}"
        12_step_outputs_for_AWI_FESOM_YAML:
            - "${fesom.12_step_outputs}"
            - "${recom.12_step_outputs}"
    '1.4-recom-awicm':
        branch: fesom_recom_1.4_master
        # add recom variables to fesom1 output scheduler; see components/recom/recom.yaml
        yearly_outputs_for_AWI_FESOM_YAML:
            - "${fesom.yearly_outputs}"
            - "${recom.yearly_outputs}"
        monthly_outputs_for_AWI_FESOM_YAML:
            - "${fesom.monthly_outputs}"
            - "${recom.monthly_outputs}"
        daily_outputs_for_AWI_FESOM_YAML:
            - "${fesom.daily_outputs}"
            - "${recom.daily_outputs}"
        12_step_outputs_for_AWI_FESOM_YAML:
            - "${fesom.12_step_outputs}"
            - "${recom.12_step_outputs}"

git-repository: https://gitlab.dkrz.de/modular_esm/fesom-1.4.git
install_bins: bin/fesom
clean_command: ${defaults.clean_command}
comp_command: mkdir -p build; cd build; cmake ..;   make install
contact: "dmitry.sidorenko(at)awi.de, nikolay.koldunov(at)awi.de, miguel.andres-martinez(at)awi.de, paul.gierz(at)awi.de"

metadata:
        Institute: Alfred Wegener Institute for Polar and Marine Research (AWI)
        Description:
                Multiresolution sea ice-ocean model that solves the equations
                of motion on unestructured meshes
        Authors: Dmitry Sidorenko (Dmitry.Sidorenko@awi.de), Nikolay V. Koldunov (nikolay.koldunov@awi.de)
        Publications:
                - "Danilov et al. 2004: A finite-element ocean model: principles and evaluation <https://doi.org/10.1016/s1463-5003(02)00063-x>"
                - "Wang et al. 2014: The Finite Element Sea Ice-Ocean Model (FESOM) v.1.4: formulation of an ocean general circulation model. <https://doi.org/10.5194/gmd-7-663-2014>"
        License:
                www.fesom.de

restart_rate: "12"
restart_unit: "m"
restart_first: 12
restart_flag: "last"
yearly_outputs_start: 1 # Year in which the yearly output starts to be saved

time_step: 1800
resolution: CORE2

mesh_rotated: false
old_mesh_format: false
with_part_format: false
time_dimension: "time"

#model_dir: "${esm_master_dir}/fesom-${version}/"
pool_dir: "${computer.pool_directories.pool}"
setup_dir: "${model_dir}"
bin_dir: "${setup_dir}/bin"
climate_data_dir: "${pool_dir}/hydrography/"
forcing_data_dir: "${pool_dir}/forcing/"
ini_data_dir: "${pool_dir}/pool-data/"
namelist_dir: "${esm_namelist_dir}/${model}"

opbnd_dir: "somepath"
tide_forcing_dir: "somepath"

steps_per_day: "$(( 86400 / ${time_step} ))"

asforcing: CORE2

namelists:
        - namelist.config
        - namelist.forcing
        - namelist.oce
        - namelist.ice
        - namelist.diag

choose_asforcing:
        CORE2:
                leapyear: false
        ECHAM5:
                leapyear: true
        JRA55:
                leapyear: true
        ECHAM6:
                leapyear: true

executable: fesom

choose_resolution:
        CORE2:
                nx: 126859
                mesh_dir: "${fesom.mesh_base_dir}/core/"
                nproc: 288
        GLOB:
                nx: 830305
                mesh_dir: "${fesom.mesh_base_dir}/glob/"
        GLOB_rmstep:
                nx: 830305
                mesh_dir: "/work/ba1150/a270147/meshes/"
        REF87K:
                nx: 86803
                mesh_dir: "${pool_dir}/meshes/mesh_ref87k/"
        REF:
                nx: 43943
                mesh_dir: "${pool_dir}/meshes/mesh_ref/"
        BOLD:
                nx: 1306775
                mesh_dir: "${fesom.mesh_base_dir}/bold/"
        fArc:
                nx: 638387
        PI-GRID:
                nx: 3140
                mesh_dir: "${fesom.mesh_base_dir}/pi-grid/"
        CAVCORE2:
                nx: 72411


restart_in_files:
        oce_restart: oce_restart
        ice_restart: ice_restart
        oce_diag: oce_diag

restart_in_in_work:
        oce_diag: fesom.${parent_date!syear}.oce.diag.nc
        oce_restart: fesom.${parent_date!syear}.oce.nc
        ice_restart: fesom.${parent_date!syear}.ice.nc
restart_in_sources:
        oce_diag: fesom.${parent_date!syear}.oce.diag.nc
        oce_restart: fesom.${parent_date!syear}.oce.nc
        ice_restart: fesom.${parent_date!syear}.ice.nc

restart_out_files:
        oce_diag: oce_diag
        oce_restart: oce_restart
        ice_restart: ice_restart

restart_out_in_work:
        oce_diag: fesom.${end_date!syear}.oce.diag.nc
        oce_restart: fesom.${end_date!syear}.oce.nc
        ice_restart: fesom.${end_date!syear}.ice.nc

restart_out_sources:
        oce_diag: fesom.${end_date!syear}.oce.diag.nc
        oce_restart: fesom.${end_date!syear}.oce.nc
        ice_restart: fesom.${end_date!syear}.ice.nc


log_files:
        clock: clock
        mesh_diag: mesh_diag

log_in_work:
        clock: fesom.clock
        mesh_diag: fesom.initial.mesh.diag.nc

log_sources:
        clock: fesom.clock
        mesh_diag: fesom.initial.mesh.diag.nc


namelist_changes:
        namelist.config:
                clockinit:
                        daynew: "${daynew}"
                        yearnew: "${yearnew}"
                calendar:
                        include_fleapyear: "${leapyear}"
                paths:
                        ForcingDataPath: "${forcing_data_dir}"
                        MeshPath: "${mesh_dir}"
                        OpbndPath: "${opbnd_dir}"
                        ClimateDataPath: "${climate_data_dir}"
                        TideForcingPath: "${tide_forcing_dir}"
                        ResultPath: "${work_dir}"
                timestep:
                        step_per_day: "${steps_per_day}"
                        run_length: "${restart_rate}"
                        run_length_unit: "${restart_unit}"
                inout:
                        restartflag: "${restart_flag}"
                        output_length: "${restart_rate}"
                        output_length_unit: "${restart_unit}"
                        restart_length: "remove_from_namelist"
                        restart_length_unit: "remove_from_namelist"
                mesh_def:
                        part_format: "remove_from_namelist"
        namelist.forcing:
                forcing_source:
                        wind_data_source: ${asforcing}
                        rad_data_source: ${asforcing}
                        precip_data_source: ${asforcing}
                        runoff_data_source: ${asforcing}
                        sss_data_source: ${asforcing}


lasttime: "$(( 86400 - ${time_step}))"
currentday: "${current_date!sdoy}"
choose_currentday:
        "1":
                starttime: "0.0000000000000"
                startday: 1
        '*':
                starttime: "86400.0000000000"
                startday: "$(( ${start_date!sdoy} - 1 ))"

choose_lresume:
        false:
                create_config:
                        fesom.clock:
                                - "<--append-- 0.0000000000000 ${initial_date!sdoy} ${initial_date!syear}"
                                - "<--append-- 0.0000000000000 ${initial_date!sdoy} ${initial_date!syear}"
        true:
                create_config:
                        fesom.clock:
                                - "<--append-- ${lasttime} ${parent_date!sdoy} ${parent_date!syear}"
                                - "<--append-- ${starttime} ${startday} ${start_date!syear}"

# Is it a branchoff experiment?
branchoff: "$(( ${lresume} and ${general.run_number}==1 ))"
choose_branchoff:
        # Makes sure the <units>new in the namelist make an earlier date than that of
        # of the clock to avoid cold starts for branching off experiments
        true:
                daynew: "${startday}"
                yearnew: "$(( ${initial_date!syear} - 1 ))"
        false:
                daynew: "${initial_date!sdoy}"
                yearnew: "${initial_date!syear}"

bin_sources:
        fesom: "${bin_dir}/${executable}"

config_files:
        config:  config
        forcing: forcing
        ice:     ice
        oce:     oce
        diag:    diag

config_sources:
        config:  "${namelist_dir}/namelist.config"
        forcing: "${namelist_dir}/namelist.forcing"
        ice:     "${namelist_dir}/namelist.ice"
        oce:     "${namelist_dir}/namelist.oce"
        diag:    "${namelist_dir}/namelist.diag"

# default output of fesom component
# 1. variables listed in `*_outputs` but not defined/not requested in the model will be ignored by the fesom-1.4 output scheduler
# 2. variables defined/requested in the model but not listed in `*_outputs` will raise an error in the fesom-1.4 output scheduler
# 3. variable names are case sensitive
# 4. please keep alphabetic order
# 5. a custom variable list can be provided in the runscript via `further_reading` in the fesom section, or in your runscript
# 6. if fesom1:namelist.oce:use_age_tracer=.true., variables `age01`, `age02`, ... must be added to `fesom_*_outputs`-lists
yearly_outputs:
    - flice
    - fsitherm
    - opottemptend
    - pbo
    - relax_salt
    - rho
    - sidmassevapsubl
    - sidmasssi
    - sidmassth
    - sidmasstranx
    - sidmasstrany
    - sifllatstop
    - sisnconc
    - sisnmass
    - sisnthick
    - sispeed
    - sistrxdtop
    - sistrxubot
    - sistrydtop
    - sistryubot
    - thdgr
    - thdgrsn
    - u2o
    - uhice
    - uhsnow
    - urho
    - uso
    - uto
    - uv
    - v2o
    - vhice
    - vhsnow
    - virtual_salt
    - volo
    - vrho
    - vso
    - vto
    - w2o
    - wfo
    - wso
    - wto
    - zossq
monthly_outputs:
    - evap
    - evs
    - hfds
    - lwrd
    - mlotst
    - olat
    - olwout
    - omldamax
    - osen
    - prlq
    - prsn
    - rsdo
    - runoff
    - shum
    - siarean
    - siareas
    - sic
    - siextentn
    - siextents
    - sithick
    - sitimefrac
    - siu
    - siv
    - sivol
    - sivoln
    - sivols
    - so
    - soga
    - sos
    - tair
    - tauuo
    - tauvo
    - thetao
    - thetaoga
    - tos
    - tso
    - uo
    - uwind
    - vo
    - vwind
    - wnet
    - wo
    - zos
daily_outputs: []
12_step_outputs: []

# copy fesom model output to outdata/fesom; includes recom data if enabled
outdata_files:
        "[[yearly_outputs-->OUTPUT]]": OUTPUT
        "[[monthly_outputs-->OUTPUT]]": OUTPUT
        "[[daily_outputs-->OUTPUT]]": OUTPUT
        "[[12_step_outputs-->OUTPUT]]": OUTPUT

outdata_in_work:
        "[[yearly_outputs-->OUTPUT]]": OUTPUT_fesom_${start_date!syear!smonth!sday}.nc
        "[[monthly_outputs-->OUTPUT]]": OUTPUT_fesom_${start_date!syear!smonth!sday}.nc
        "[[daily_outputs-->OUTPUT]]": OUTPUT_fesom_${start_date!syear!smonth!sday}.nc
        "[[12_step_outputs-->OUTPUT]]": OUTPUT_fesom_${start_date!syear!smonth!sday}.nc

outdata_sources:
        "[[yearly_outputs-->OUTPUT]]": OUTPUT_fesom_${start_date!syear!smonth!sday}.nc
        "[[monthly_outputs-->OUTPUT]]": OUTPUT_fesom_${start_date!syear!smonth!sday}.nc
        "[[daily_outputs-->OUTPUT]]": OUTPUT_fesom_${start_date!syear!smonth!sday}.nc
        "[[12_step_outputs-->OUTPUT]]": OUTPUT_fesom_${start_date!syear!smonth!sday}.nc

yearly_outputs_for_AWI_FESOM_YAML: ${yearly_outputs}
monthly_outputs_for_AWI_FESOM_YAML: ${monthly_outputs}
daily_outputs_for_AWI_FESOM_YAML: ${daily_outputs}
12_step_outputs_for_AWI_FESOM_YAML: ${12_step_outputs}

# export output lists to env variable `AWI_FESOM_YAML`
# - `AWI_FESOM_YAML` is used by fesom-1.4/fesom_cpl/output_scheduler; check its value in finished_config.yaml
# - there can be several blocks in `AWI_FESOM_YAML` with the same output frequency
# - the variable lists exported here include recom variables if necessary
runtime_environment_changes:
        add_export_vars:
                AWI_FESOM_YAML:
                        output_schedules:
                                -
                                        vars: [restart]
                                        unit: ${restart_unit}
                                        first: ${restart_first}
                                        rate: ${restart_rate}
                                -
                                        vars: ${yearly_outputs_for_AWI_FESOM_YAML}
                                        unit: y
                                        first: ${yearly_outputs_start}
                                        rate: 1
                                -
                                        vars: ${monthly_outputs_for_AWI_FESOM_YAML}
                                        unit: m
                                        rate: 1
                                -
                                        vars: ${daily_outputs_for_AWI_FESOM_YAML}
                                        unit: d
                                        rate: 1
                                -
                                        vars: ${12_step_outputs_for_AWI_FESOM_YAML}
                                        unit: s
                                        rate: 12

ignore_files:
        gf: gf
        chloro: chloro

ignore_in_work:
        gf: goodfile
        chloro: Chl_Sweeney.dat

ignore_sources:
        gf: goodfile
        chloro: Chl_Sweeney.dat

choose_computer.name:
        blogin:
                mesh_base_dir: "${pool_dir}/FESOM1/MESHES/"
        glogin:
                mesh_base_dir: "${pool_dir}/FESOM1/MESHES/"
        levante:
                pool_dir: "${computer.pool_directories.pool}/AWICM/FESOM1/"
                mesh_base_dir: "${pool_dir}/MESHES/"
                add_compiletime_environment_changes:
                        add_export_vars:
                                NETCDF_DIR: ${computer.netcdf_cxx_root}
                                NETCDF_CXX_INCLUDE_DIRECTORIES: ${computer.netcdf_cxx_root}/include
                                NETCDF_CXX_LIBRARIES: ${computer.netcdf_cxx_root}/lib
                                LD_LIBRARY_PATH[(10)]: $NETCDF_DIR/lib/:$LD_LIBRARY_PATH
        albedo:
                pool_dir: "${computer.pool_directories.pool}/FESOM/"
                mesh_base_dir: "${pool_dir}/meshes_default/"

environment_changes:
    choose_computer.name:
        blogin:
            iolibraries: system_libs
        glogin:
            iolibraries: system_libs

coupling_fields:
        sst_feom:
                grid: feom
        sit_feom:
                grid: feom
        sie_feom:
                grid: feom
        snt_feom: # snow temp
                grid: feom
        taux_oce:
                grid: feom
        tauy_oce:
                grid: feom
        taux_ico:
                grid: feom
        tauy_ico:
                grid: feom
        prec_oce:
                grid: feom
        snow_oce:
                grid: feom
        evap_oce:
                grid: feom
        subl_oce:
                grid: feom
        heat_oce:
                grid: feom
        heat_ico:
                grid: feom
        heat_swo:
                grid: feom
        hydr_oce:
                grid: feom
        co2_feom:
                grid: feom
        co2c_oce:
                grid: feom
        w10w_oce:
                grid: feom

grids:
        feom:
                name: feom
                nx: ${nx}
                ny: 1
                oasis_grid_type: "U"
                number_of_overlapping_points: 0 # oasis P-value

