! This is the namelist file for model general configuration

&modelname
runid='fesom'
/

&timestep
step_per_day=192
run_length=2
run_length_unit='y'		! y, m, d, s
/

&clockinit			! the model starts at
timenew=0.0
daynew=1
yearnew=1948
/

&paths
MeshPath='/work/ab0995/a270067/fesom2/palk/mesh/'
ClimateDataPath='/work/ba1254/a270067/input/fesom2/hydrography/'
ResultPath='/scratch/a/a270067/palk_5/'
/

&restart_log
restart_length=1        !only required for d,h,s cases,  y, m take 1
restart_length_unit='y' !output period: y,  d, h, s , off
raw_restart_length=1        ! --> do core dump restart
raw_restart_length_unit='m' ! e.g. y, d, h, s, off
logfile_outfreq=96	!in logfile info. output frequency, # steps
/

&ale_def
which_ALE='linfs'       ! 'linfs','zlevel', 'zstar'
use_partial_cell=.false.
/

&initialization
OceClimaDataName='Winter_PHC3_ts.out' 	!which T/S data to initial. ocean
					!'Winter_PHC3_ts.out'
					!'Annual_PHC3_ts.out'
use_prepared_init_ice=.false. 		!how to init. ice; runid.initial_ice.nc
/

&geometry
cartesian=.false.
fplane=.false.
cyclic_length=360       ![degree]
rotated_grid=.true.     !option only valid for coupled model case now
force_rotation=.true.
alphaEuler=50.          ![degree] Euler angles, convention:
betaEuler=15.           ![degree] first around z, then around new x,
gammaEuler=-90.         ![degree] then around new z.
/

&calendar
include_fleapyear=.false. !.true.
/

&run_config
use_ice=.true.                  ! ocean+ice
use_cavity=.false.              !
use_cavity_partial_cell=.false. 
use_floatice = .false.
use_sw_pene=.true.
/

&machine
n_levels=1
n_part=3456    !10800 !3600 !14400 !2520 !1152                   ! number of partitions on each hierarchy level
/
