# THE ECMWF Atos YAML config file

name: ecmwf-atos

accounting: true
batch_system: "slurm"

operating_system: "linux-centos"

jobtype: compute
sh_interpreter: "/usr/bin/bash"

partition: false
exclusive: false
additional_flags:
    - "--qos=np"

partitions:
        compute:
                name: compute
                cores_per_node: 128
        pp:
                name: gpil
                cores_per_node: 1


logical_cpus_per_core: 1

threads_per_core: 1

pool_dir: "/dev/null"

pool_directories:
        pool: "/dev/null"
        projects: "/dev/null"
        focipool: "/dev/null"

# ?????
choose_submitted:
        true:
                modules_needed:
                        - centoslibs
        false:
                nothing: much

submitted: false
hyper_flag: "" # No hyperthreading on ollie
choose_heterogeneous_parallelization:
        True:
                choose_taskset:
                    False:
                        add_export_vars:
                            I_MPI_SLURM_EXT: 0
                    "*":
                        taskset_chs: ""
                add_unset_vars:
                        - "SLURM_DISTRIBUTION"
                        - "SLURM_NTASKS"
                        - "SLURM_NPROCS"
                        - "SLURM_ARBITRARY_NODELIST"

hetjob_flag: packjob

unset_vars:
        - "SLURM_MEM_PER_NODE"
        - "SLURM_MEM_PER_CPU"

# standard environment setup
#
#

useMPI: openmpi
module_actions:
        - "reset"
        - "load prgenv/intel"
        #- "load prgenv/gnu openmpi"
        #- "load prgenv/expert"
        #- "load hdf5-parallel/1.10.6:amd:3.1:ompi:4.0"
        #- "load netcdf4-parallel/4.7.4:amd:3.1:ompi:4.0"
        - "load udunits"
        #- "load intel/2021.4.0"
        #- "load intel-mpi/2021.4.0"
        - "load intel-mkl/19.0.5"
        - "load openmpi/4.1.1.1"
        #- "load hpcx-openmpi/2.9.0"
        - "load hdf5-parallel/1.10.6"
        - "load netcdf4-parallel/4.7.4"
        #- "load hdf5"
        #- "load netcdf4"
        - "load cdo nco"
        - "load ecmwf-toolbox/2021.08.3.0"
        - "load python3/3.8.8-01"
        - "load git"
        - "list"

export_vars:
        LC_ALL: en_US.UTF-8
        FC: ${fc}
        #FCFLAGS: -r8 -traceback -g -fp-model precise -fp-speculation=safe -O2 -xHost
        F77: ${f77}
        MPIFC: ${mpifc}
        MPICC: ${cc}
        #CCFLAGS: -traceback -g -O2 -xHost
        CC: ${cc}
        CXX: ${cxx}

        CRAYPE_LINK_TYPE: dynamic
        #PATH: /gfs1/work/hbxeeeee/sw/cmake/bin:$PATH

        IO_LIB_ROOT: ""
        HDF5ROOT: $HDF5_PARALLEL_DIR

        NETCDFFROOT: $NETCDF4_PARALLEL_DIR
        NETCDFROOT: $NETCDF4_PARALLEL_DIR
        NETCDF_Fortran_INCLUDE_DIRECTORIES: $NETCDF4_PARALLEL_DIR/include
        NETCDF_CXX_INCLUDE_DIRECTORIES: $NETCDF4_PARALLEL_DIR/include
        NETCDF_CXX_LIBRARIES: $NETCDF4_PARALLEL_DIR/lib

        #HDF5ROOT: $HDF5_DIR

        #NETCDFFROOT: $NETCDF4_DIR
        #NETCDFROOT: $NETCDF4_DIR
        #NETCDF_Fortran_INCLUDE_DIRECTORIES: $NETCDF4_DIR/include
        #NETCDF_CXX_INCLUDE_DIRECTORIES: $NETCDF4_DIR/include
        #NETCDF_CXX_LIBRARIES: $NETCDF4_DIR/lib

        #PERL5LIB: /usr/lib64/perl5
        #LAPACK_LIB: '"-lmkl_intel_lp64 -lmkl_core -mkl=sequential -lpthread -lm -ldl"'
        #LAPACK_LIB_DEFAULT: '"-L/global/AWIsoft/intel/2018/compilers_and_libraries_2018.5.274/linux/mkl/lib/intel64 -lmkl_intel_lp64 -lmkl_core -lmkl_sequential"'
        ECCODESROOT: $ECCODES_DIR

        XML2ROOT: /usr
        ZLIBROOT: /usr

        MPIROOT: "$(${mpifc} -show | perl -lne 'm{ -I(.*?)/include } and print $1')"
        MPIDIR: $MPIROOT
        MPI_LIB: "$(${mpifc} -show |sed -e 's/^[^ ]*//' -e 's/-[I][^ ]*//g')"

        #LD_LIBRARY_PATH: $LD_LIBRARY_PATH:$NETCDF4_PARALLEL_DIR/lib:$ECCODES_DIR/lib:$HDF5_DIR/lib
        LD_LIBRARY_PATH: $LD_LIBRARY_PATH:$NETCDF4_DIR/lib:$ECCODES_DIR/lib:$HDF5_DIR/lib
        OMPI_MCA_btl: "^vader"

choose_useMPI:
        openmpi:
                fc: mpifort
                f77: mpifort
                mpifc: mpifort
                cc: mpicc
                cxx: mpicxx

further_reading:
        - batch_system/slurm.yaml
