# THE ollie.awi.de YAML config file

name: ollie

accounting: false
batch_system: "slurm"

operating_system: "linux-centos"

jobtype: compute
sh_interpreter: "/usr/bin/bash"


partitions:
        compute:
                name: mpp
                cores_per_node: 36
        pp:
                name: smp
                cores_per_node: 1


logical_cpus_per_core: 2

threads_per_core: 1

pool_dir: "/work/ollie/pool"

pool_directories:
        pool: "/work/ollie/pool"
        projects: "/work/ollie/projects"
        focipool: "/dev/null"

# ?????
choose_submitted:
        true:
                modules_needed:
                        - centoslibs
        false:
                nothing: much

submitted: false
hyper_flag: "" # No hyperthreading on ollie
choose_heterogeneous_parallelization:
        True:
                add_unset_vars:
                        - "SLURM_DISTRIBUTION"
                        - "SLURM_NTASKS"
                        - "SLURM_NPROCS"
                        - "SLURM_ARBITRARY_NODELIST"

unset_vars:
        - "SLURM_MEM_PER_NODE"
        - "SLURM_MEM_PER_CPU"

# standard environment setup
#
#



useMPI: intelmpi

module_actions:
        - "purge"
        - "load cmake"
        - "load udunits"
        - "load gribapi/1.28.0"
        - "unload intel.compiler"
        - "load intel.compiler"
        - "unload netcdf"
        - "load hdf5"
        - "load centoslibs cdo nco netcdf/4.6.2_intel"
        - "load automake"
        - "load python3/3.7.7_intel2020u2"
        - "load git"
        # - "load python3/3.6.5_intel2019"
        - "list"

export_vars:
        LC_ALL: en_US.UTF-8

        FC: ${fc}
        F77: ${f77}
        MPIFC: ${mpifc}
        MPICC: ${mpicc}
        CC: ${cc}
        CXX: ${cxx}

        IO_LIB_ROOT: ""
        HDF5ROOT: $HDF5_ROOT

        NETCDFFROOT: $NETCDF_DIR
        NETCDFROOT: $NETCDF_DIR
        NETCDF_Fortran_INCLUDE_DIRECTORIES: $NETCDFROOT/include
        NETCDF_CXX_INCLUDE_DIRECTORIES: $NETCDFROOT/include
        NETCDF_CXX_LIBRARIES: $NETCDFROOT/lib

        PERL5LIB: /usr/lib64/perl5
        LAPACK_LIB: '"-lmkl_intel_lp64 -lmkl_core -mkl=sequential -lpthread -lm -ldl"'
        LAPACK_LIB_DEFAULT: '"-L/global/AWIsoft/intel/2018/compilers_and_libraries_2018.5.274/linux/mkl/lib/intel64 -lmkl_intel_lp64 -lmkl_core -lmkl_sequential"'
        XML2ROOT: /usr
        ZLIBROOT: /usr

        MPIROOT: "$(${mpifc} -show | perl -lne 'm{ -I(.*?)/include } and print $1')"
        MPI_LIB: "$(${mpifc} -show |sed -e 's/^[^ ]*//' -e 's/-[I][^ ]*//g')"

        PATH: /work/ollie/jhegewal/sw/cmake/bin:$PATH

choose_useMPI:
        intelmpi:
                add_module_actions:
                        - "unload intel.mpi"
                        - "load intel.mpi"
                fc: '"mpiifort -mkl"'
                f77: '"mpiifort -mkl"'
                mpifc: mpiifort
                mpicc: mpiicc
                cc: mpiicc
                cxx: mpiicpc

                add_export_vars:
                        MPIROOT: ${I_MPI_ROOT}/intel64

further_reading:
        - batch_system/slurm.yaml
