<?xml version="1.0"?>

<file_definition type="one_file" format="netcdf4" par_access="collective" compression_level="{{xios.compression_level}}" split_freq="1y">
    <!-- CMIP7 OIFS output, one file per variable (FESOM-style).
         Grouped by output_freq via XIOS attribute inheritance; runtime
         behavior is identical to the flat version.
         timeseries="only" intentionally NOT used (broken with compression +
         one_file on our XIOS build). -->

    <file_group id="fg_1mo" output_freq="1mo" enabled="true">
        <file id="f_toa_incoming_shortwave_flux__rsdt_mon" name="atmos_toa_incoming_shortwave_flux__rsdt_mon"><field field_ref="toa_incoming_shortwave_flux__rsdt" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_toa_outgoing_shortwave_flux__rsut_mon" name="atmos_toa_outgoing_shortwave_flux__rsut_mon"><field field_ref="toa_outgoing_shortwave_flux__rsut" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_toa_outgoing_longwave_flux__rlut_mon" name="atmos_toa_outgoing_longwave_flux__rlut_mon"><field field_ref="toa_outgoing_longwave_flux__rlut" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_toa_outgoing_shortwave_flux_cs__rsutcs_mon" name="atmos_toa_outgoing_shortwave_flux_cs__rsutcs_mon"><field field_ref="toa_outgoing_shortwave_flux_cs__rsutcs" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_toa_outgoing_longwave_flux_cs__rlutcs_mon" name="atmos_toa_outgoing_longwave_flux_cs__rlutcs_mon"><field field_ref="toa_outgoing_longwave_flux_cs__rlutcs" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_downwelling_shortwave_flux__rsds_mon" name="atmos_surface_downwelling_shortwave_flux__rsds_mon"><field field_ref="surface_downwelling_shortwave_flux__rsds" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_upwelling_shortwave_flux__rsus_mon" name="atmos_surface_upwelling_shortwave_flux__rsus_mon"><field field_ref="surface_upwelling_shortwave_flux__rsus" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_downwelling_longwave_flux__rlds_mon" name="atmos_surface_downwelling_longwave_flux__rlds_mon"><field field_ref="surface_downwelling_longwave_flux__rlds" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_upwelling_longwave_flux__rlus_mon" name="atmos_surface_upwelling_longwave_flux__rlus_mon"><field field_ref="surface_upwelling_longwave_flux__rlus" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_upward_latent_heat_flux__hfls_mon" name="atmos_surface_upward_latent_heat_flux__hfls_mon"><field field_ref="surface_upward_latent_heat_flux__hfls" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_upward_sensible_heat_flux__hfss_mon" name="atmos_surface_upward_sensible_heat_flux__hfss_mon"><field field_ref="surface_upward_sensible_heat_flux__hfss" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_downward_eastward_stress__tauu_mon" name="atmos_surface_downward_eastward_stress__tauu_mon"><field field_ref="surface_downward_eastward_stress__tauu" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_downward_northward_stress__tauv_mon" name="atmos_surface_downward_northward_stress__tauv_mon"><field field_ref="surface_downward_northward_stress__tauv" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_precipitation_flux__pr_mon" name="atmos_precipitation_flux__pr_mon"><field field_ref="precipitation_flux__pr" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_convective_precipitation_flux__prc_mon" name="atmos_convective_precipitation_flux__prc_mon"><field field_ref="convective_precipitation_flux__prc" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_snowfall_flux__prsn_mon" name="atmos_snowfall_flux__prsn_mon"><field field_ref="snowfall_flux__prsn" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_downwelling_shortwave_flux_cs__rsdscs_mon" name="atmos_surface_downwelling_shortwave_flux_cs__rsdscs_mon"><field field_ref="surface_downwelling_shortwave_flux_cs__rsdscs" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_upwelling_shortwave_flux_cs__rsuscs_mon" name="atmos_surface_upwelling_shortwave_flux_cs__rsuscs_mon"><field field_ref="surface_upwelling_shortwave_flux_cs__rsuscs" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_downwelling_longwave_flux_cs__rldscs_mon" name="atmos_surface_downwelling_longwave_flux_cs__rldscs_mon"><field field_ref="surface_downwelling_longwave_flux_cs__rldscs" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_upwelling_longwave_flux_cs__rluscs_mon" name="atmos_surface_upwelling_longwave_flux_cs__rluscs_mon"><field field_ref="surface_upwelling_longwave_flux_cs__rluscs" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_cloud_area_fraction__clt_mon" name="atmos_cloud_area_fraction__clt_mon"><field field_ref="cloud_area_fraction__clt" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_geopotential_height__zg_mon_pl" name="atmos_geopotential_height__zg_mon_pl"><field field_ref="geopotential_height__zg" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_air_temperature__ta_mon_pl" name="atmos_air_temperature__ta_mon_pl"><field field_ref="air_temperature__ta" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_specific_humidity__hus_mon_pl" name="atmos_specific_humidity__hus_mon_pl"><field field_ref="specific_humidity__hus" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_water_evapotranspiration_flux__evspsbl_mon_land" name="atmos_water_evapotranspiration_flux__evspsbl_mon_land"><field field_ref="water_evapotranspiration_flux__evspsbl" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_runoff_flux__mrro_mon_land" name="atmos_runoff_flux__mrro_mon_land"><field field_ref="runoff_flux__mrro" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_runoff_flux__mrros_mon_land" name="atmos_surface_runoff_flux__mrros_mon_land"><field field_ref="surface_runoff_flux__mrros" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_snow_amount__snw_mon_land" name="atmos_surface_snow_amount__snw_mon_land"><field field_ref="surface_snow_amount__snw" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_leaf_area_index__lai_mon_land" name="atmos_leaf_area_index__lai_mon_land"><field field_ref="leaf_area_index__lai" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_soil_moisture_content__mrso_mon_land" name="atmos_soil_moisture_content__mrso_mon_land"><field field_ref="soil_moisture_content__mrso" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_moisture_content_of_soil_layer__mrsol_mon_land" name="atmos_moisture_content_of_soil_layer__mrsol_mon_land"><field field_ref="moisture_content_of_soil_layer__mrsol" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_altitude__orog_mon_land" name="atmos_surface_altitude__orog_mon_land"><field field_ref="surface_altitude__orog" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_potential_evapotranspiration__evspsblpot_mon_land" name="atmos_potential_evapotranspiration__evspsblpot_mon_land"><field field_ref="potential_evapotranspiration__evspsblpot" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_sublimation_flux__sbl_mon_land" name="atmos_sublimation_flux__sbl_mon_land"><field field_ref="sublimation_flux__sbl" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_cloud_area_fraction_ml__cl_mon_ml" name="atmos_cloud_area_fraction_ml__cl_mon_ml"><field field_ref="cloud_area_fraction_ml__cl" grid_ref="regular_ml" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_mass_fraction_cloud_ice__cli_mon_ml" name="atmos_mass_fraction_cloud_ice__cli_mon_ml"><field field_ref="mass_fraction_cloud_ice__cli" grid_ref="regular_ml" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_mass_fraction_cloud_liquid__clw_mon_ml" name="atmos_mass_fraction_cloud_liquid__clw_mon_ml"><field field_ref="mass_fraction_cloud_liquid__clw" grid_ref="regular_ml" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_net_downward_longwave_flux__rls_mon_netrad" name="atmos_surface_net_downward_longwave_flux__rls_mon_netrad"><field field_ref="surface_net_downward_longwave_flux__rls" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_net_downward_shortwave_flux__rss_mon_netrad" name="atmos_surface_net_downward_shortwave_flux__rss_mon_netrad"><field field_ref="surface_net_downward_shortwave_flux__rss" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_lwp_mon_netrad" name="atmos_lwp_mon_netrad"><field field_ref="tclw" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="lwp" long_name="Liquid Water Path"/></file>
        <file id="f_tvl_mon_land_static" name="atmos_tvl_mon_land_static"><field field_ref="tvl" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tvl" long_name="Type of low vegetation"/></file>
        <file id="f_tvh_mon_land_static" name="atmos_tvh_mon_land_static"><field field_ref="tvh" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tvh" long_name="Type of high vegetation"/></file>
        <file id="f_cvl_mon_land_static" name="atmos_cvl_mon_land_static"><field field_ref="cvl" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="cvl" long_name="Low vegetation cover"/></file>
        <file id="f_cvh_mon_land_static" name="atmos_cvh_mon_land_static"><field field_ref="cvh" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="cvh" long_name="High vegetation cover"/></file>
        <file id="f_slt_mon_land_static" name="atmos_slt_mon_land_static"><field field_ref="slt" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="slt" long_name="Soil type"/></file>
        <file id="f_wsg10_mon_gust" name="atmos_wsg10_mon_gust"><field field_ref="10fg" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="maximum" name="wsg10" long_name="Maximum Wind Speed of Gust at 10m"/></file>
        <file id="f_pfull_mon_ml_cap7" name="atmos_pfull_mon_ml_cap7"><field field_ref="pres" grid_ref="regular_ml" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="pfull" long_name="Pressure at Model Full-Levels"/></file>
        <file id="f_ta_mon_ml_cap7" name="atmos_ta_mon_ml_cap7"><field field_ref="t" grid_ref="regular_ml" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="ta" long_name="Air Temperature"/></file>
        <file id="f_hus_mon_ml_cap7" name="atmos_hus_mon_ml_cap7"><field field_ref="q" grid_ref="regular_ml" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="hus" long_name="Specific Humidity"/></file>
        <file id="f_relative_humidity_ml__hur_mon_ml_cap7" name="atmos_relative_humidity_ml__hur_mon_ml_cap7"><field field_ref="relative_humidity_ml__hur" grid_ref="regular_ml" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_cvl_1m" name="atm_remapped_cvl_1m"><field field_ref="cvl" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="cvl" long_name="Low vegetation cover"/></file>
        <file id="f_cvh_1m" name="atm_remapped_cvh_1m"><field field_ref="cvh" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="cvh" long_name="High vegetation cover"/></file>
        <file id="f_2t_1m" name="atm_remapped_2t_1m"><field field_ref="2t" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="2t" long_name="2 metre temperature"/></file>
        <file id="f_ci_1m" name="atm_remapped_ci_1m"><field field_ref="ci" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="ci" long_name="Sea ice area fraction"/></file>
        <file id="f_ttr_1m" name="atm_remapped_ttr_1m"><field field_ref="ttr" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="ttr" long_name="Top net thermal radiation"/></file>
        <file id="f_tcc_1m" name="atm_remapped_tcc_1m"><field field_ref="tcc" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tcc" long_name="Total cloud cover"/></file>
        <file id="f_cp_1m" name="atm_remapped_cp_1m"><field field_ref="cp" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="cp" long_name="Convective precipitation"/></file>
        <file id="f_lsp_1m" name="atm_remapped_lsp_1m"><field field_ref="lsp" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="lsp" long_name="Large-scale precipitation"/></file>
        <file id="f_10u_1m" name="atm_remapped_10u_1m"><field field_ref="10u" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="10u" long_name="10 metre U wind component"/></file>
        <file id="f_10v_1m" name="atm_remapped_10v_1m"><field field_ref="10v" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="10v" long_name="10 metre V wind component"/></file>
        <file id="f_lai_lv_1m" name="atm_remapped_lai_lv_1m"><field field_ref="lai_lv" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="lai_lv" long_name="Leaf area index, low vegetation"/></file>
        <file id="f_lai_hv_1m" name="atm_remapped_lai_hv_1m"><field field_ref="lai_hv" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="lai_hv" long_name="Leaf area index, high vegetation"/></file>
        <file id="f_sro_1m" name="atm_remapped_sro_1m"><field field_ref="sro" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="sro" long_name="Surface runoff"/></file>
        <file id="f_sz_1m" name="atm_remapped_sz_1m"><field field_ref="sz" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="sz" long_name="Geopotential at surface"/></file>
        <file id="f_lcc_1m" name="atm_remapped_lcc_1m"><field field_ref="lcc" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="lcc" long_name="Low cloud cover"/></file>
        <file id="f_hcc_1m" name="atm_remapped_hcc_1m"><field field_ref="hcc" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="hcc" long_name="High cloud cover"/></file>
        <file id="f_ttrc_1m" name="atm_remapped_ttrc_1m"><field field_ref="ttrc" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="ttrc" long_name="Top net thermal radiation, clear sky"/></file>
        <file id="f_ssrd_1m" name="atm_remapped_ssrd_1m"><field field_ref="ssrd" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="ssrd" long_name="Surface solar radiation downwards"/></file>
        <file id="f_tsrc_1m" name="atm_remapped_tsrc_1m"><field field_ref="tsrc" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tsrc" long_name="Top net solar radiation, clear sky"/></file>
        <file id="f_2d_1m" name="atm_remapped_2d_1m"><field field_ref="2d" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="2d" long_name="2 metre dewpoint temperature"/></file>
        <file id="f_mn2t_1m" name="atm_remapped_mn2t_1m"><field field_ref="mn2t" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="mn2t" long_name="Minimum temperature at 2 metres since previous post-processing"/></file>
        <file id="f_mx2t_1m" name="atm_remapped_mx2t_1m"><field field_ref="mx2t" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="mx2t" long_name="Maximum temperature at 2 metres since previous post-processing"/></file>
        <file id="f_stl1_1m" name="atm_remapped_stl1_1m"><field field_ref="stl1" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="stl1" long_name="Soil temperature level 1"/></file>
        <file id="f_msl_1m" name="atm_remapped_msl_1m"><field field_ref="msl" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="msl" long_name="Mean sea level pressure"/></file>
        <file id="f_sd_1m" name="atm_remapped_sd_1m"><field field_ref="sd" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="sd" long_name="Snow depth"/></file>
        <file id="f_asn_1m" name="atm_remapped_asn_1m"><field field_ref="asn" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="asn" long_name="Snow albedo"/></file>
        <file id="f_tsn_1m" name="atm_remapped_tsn_1m"><field field_ref="tsn" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tsn" long_name="Temperature of snow layer"/></file>
        <file id="f_sshf_1m" name="atm_remapped_sshf_1m"><field field_ref="sshf" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="sshf" long_name="Surface sensible heat flux"/></file>
        <file id="f_slhf_1m" name="atm_remapped_slhf_1m"><field field_ref="slhf" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="slhf" long_name="Surface latent heat flux"/></file>
        <file id="f_sf_1m" name="atm_remapped_sf_1m"><field field_ref="sf" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="sf" long_name="Snowfall"/></file>
        <file id="f_tcwv_1m" name="atm_remapped_tcwv_1m"><field field_ref="tcwv" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tcwv" long_name="Total column water vapour"/></file>
        <file id="f_tclw_1m" name="atm_remapped_tclw_1m"><field field_ref="tclw" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tclw" long_name="Total column cloud liquid water"/></file>
        <file id="f_e_1m" name="atm_remapped_e_1m"><field field_ref="e" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="e" long_name="Evaporation"/></file>
        <file id="f_ewss_1m" name="atm_remapped_ewss_1m"><field field_ref="ewss" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="ewss" long_name="Eastward turbulent surface stress"/></file>
        <file id="f_nsss_1m" name="atm_remapped_nsss_1m"><field field_ref="nsss" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="nsss" long_name="Northward turbulent surface stress"/></file>
        <file id="f_rsn_1m" name="atm_remapped_rsn_1m"><field field_ref="rsn" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="rsn" long_name="Snow density"/></file>
        <file id="f_ssr_1m" name="atm_remapped_ssr_1m"><field field_ref="ssr" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="ssr" long_name="Surface net solar radiation"/></file>
        <file id="f_str_1m" name="atm_remapped_str_1m"><field field_ref="str" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="str" long_name="Surface net thermal radiation"/></file>
        <file id="f_tsr_1m" name="atm_remapped_tsr_1m"><field field_ref="tsr" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tsr" long_name="Top net solar radiation"/></file>
        <file id="f_sst_1m" name="atm_remapped_sst_1m"><field field_ref="sstk" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="sst" long_name="Sea surface temperature"/></file>
        <file id="f_istl1_1m" name="atm_remapped_istl1_1m"><field field_ref="istl1" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="istl1" long_name="Ice temperature layer 1"/></file>
        <file id="f_swvl1_1m" name="atm_remapped_swvl1_1m"><field field_ref="swvl1" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="swvl1" long_name="Volumetric soil water layer 1"/></file>
        <file id="f_swvl2_1m" name="atm_remapped_swvl2_1m"><field field_ref="swvl2" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="swvl2" long_name="Volumetric soil water layer 2"/></file>
        <file id="f_swvl3_1m" name="atm_remapped_swvl3_1m"><field field_ref="swvl3" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="swvl3" long_name="Volumetric soil water layer 3"/></file>
        <file id="f_swvl4_1m" name="atm_remapped_swvl4_1m"><field field_ref="swvl4" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="swvl4" long_name="Volumetric soil water layer 4"/></file>
        <file id="f_tciw_1m" name="atm_remapped_tciw_1m"><field field_ref="tciw" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tciw" long_name="Total column cloud ice water"/></file>
        <file id="f_tcw_1m" name="atm_remapped_tcw_1m"><field field_ref="tcw" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tcw" long_name="Total column water"/></file>
        <file id="f_stl2_1m" name="atm_remapped_stl2_1m"><field field_ref="stl2" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="stl2" long_name="Soil temperature level 2"/></file>
        <file id="f_strd_1m" name="atm_remapped_strd_1m"><field field_ref="strd" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="strd" long_name="Surface thermal radiation downwards"/></file>
        <file id="f_stl3_1m" name="atm_remapped_stl3_1m"><field field_ref="stl3" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="stl3" long_name="Soil temperature level 3"/></file>
        <file id="f_mcc_1m" name="atm_remapped_mcc_1m"><field field_ref="mcc" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="mcc" long_name="Medium cloud cover"/></file>
        <file id="f_ro_1m" name="atm_remapped_ro_1m"><field field_ref="ro" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="ro" long_name="Runoff"/></file>
        <file id="f_ssrc_1m" name="atm_remapped_ssrc_1m"><field field_ref="ssrc" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="ssrc" long_name="Surface net solar radiation, clear sky"/></file>
        <file id="f_strc_1m" name="atm_remapped_strc_1m"><field field_ref="strc" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="strc" long_name="Surface net thermal radiation, clear sky"/></file>
        <file id="f_tisr_1m" name="atm_remapped_tisr_1m"><field field_ref="tisr" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tisr" long_name="TOA incident solar radiation"/></file>
        <file id="f_skt_1m" name="atm_remapped_skt_1m"><field field_ref="skt" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="skt" long_name="Skin temperature"/></file>
        <file id="f_stl4_1m" name="atm_remapped_stl4_1m"><field field_ref="stl4" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="stl4" long_name="Soil temperature level 4"/></file>
        <file id="f_fal_1m" name="atm_remapped_fal_1m"><field field_ref="fal" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="fal" long_name="Forecast albedo"/></file>
        <file id="f_sp_1m" name="atm_remapped_sp_1m"><field field_ref="sp" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="sp" long_name="Surface pressure"/></file>
        <file id="f_tp_1m" name="atm_remapped_tp_1m"><field field_ref="tp" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tp" long_name="Total precipitation"/></file>
        <file id="f_lsm_1m" name="atm_remapped_lsm_1m"><field field_ref="lsm" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="lsm" long_name="Land-sea mask"/></file>
        <file id="f_ssrdc_1m" name="atm_remapped_ssrdc_1m"><field field_ref="ssrdc" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="ssrdc" long_name="Surface solar radiation downward clear-sky"/></file>
        <file id="f_strdc_1m" name="atm_remapped_strdc_1m"><field field_ref="strdc" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="strdc" long_name="Surface thermal radiation downward clear-sky"/></file>
{% if general.with_co2_oce_coupling | default(false) or general.with_co2_veg_coupling | default(false) %}
        <file id="f_co2of_1m" name="atm_remapped_co2of_1m"><field field_ref="co2of" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="co2of" long_name="Ocean flux of Carbon Dioxide"/></file>
        <file id="f_co2nbf_1m" name="atm_remapped_co2nbf_1m"><field field_ref="co2nbf" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="co2nbf" long_name="Natural biosphere flux of Carbon Dioxide"/></file>
        <file id="f_co2apf_1m" name="atm_remapped_co2apf_1m"><field field_ref="co2apf" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="co2apf" long_name="Anthropogenic emissions of Carbon Dioxide"/></file>
        <file id="f_co2fire_1m" name="atm_remapped_co2fire_1m"><field field_ref="co2fire" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="co2fire" long_name="Wildfire flux of Carbon Dioxide"/></file>
{% endif %}
        <file id="f_macv2sp_taod550_1m" name="atm_remapped_macv2sp_taod550_1m"><field field_ref="macv2sp_taod550" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="macv2sp_taod550" long_name="Total Aerosol Optical Depth at 550nm from MACV2SP"/></file>
        <file id="f_tco3_1m" name="atm_remapped_tco3_1m"><field field_ref="tco3" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tco3" long_name="Total column ozone"/></file>
        <file id="f_z_1m_pl" name="atm_remapped_z_1m_pl"><field field_ref="z_pl" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="z"/></file>
        <file id="f_t_1m_pl" name="atm_remapped_t_1m_pl"><field field_ref="t_pl" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="t"/></file>
        <file id="f_u_1m_pl" name="atm_remapped_u_1m_pl"><field field_ref="u_pl" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="u"/></file>
        <file id="f_v_1m_pl" name="atm_remapped_v_1m_pl"><field field_ref="v_pl" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="v"/></file>
        <file id="f_q_1m_pl" name="atm_remapped_q_1m_pl"><field field_ref="q_pl" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="q"/></file>
        <file id="f_w_1m_pl" name="atm_remapped_w_1m_pl"><field field_ref="w_pl" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="w"/></file>
        <file id="f_vo_1m_pl" name="atm_remapped_vo_1m_pl"><field field_ref="vo_pl" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="vo"/></file>
        <file id="f_r_1m_pl" name="atm_remapped_r_1m_pl"><field field_ref="r_pl" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="r"/></file>
{% if general.with_co2_tracer | default(false) %}
        <file id="f_co2_1m_pl" name="atm_remapped_co2_1m_pl"><field field_ref="co2_pl" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="co2" long_name="CO2 mass mixing ratio"/></file>
{% endif %}
    </file_group>

    <file_group id="fg_1d" output_freq="1d" enabled="true">
        <file id="f_surface_downwelling_shortwave_flux__rsds_day" name="atmos_surface_downwelling_shortwave_flux__rsds_day"><field field_ref="surface_downwelling_shortwave_flux__rsds" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_precipitation_flux__pr_day" name="atmos_precipitation_flux__pr_day"><field field_ref="precipitation_flux__pr" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_cloud_area_fraction__clt_day" name="atmos_cloud_area_fraction__clt_day"><field field_ref="cloud_area_fraction__clt" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_geopotential_height__zg_day_pl" name="atmos_geopotential_height__zg_day_pl"><field field_ref="geopotential_height__zg" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_air_temperature__ta_day_pl" name="atmos_air_temperature__ta_day_pl"><field field_ref="air_temperature__ta" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_specific_humidity__hus_day_pl" name="atmos_specific_humidity__hus_day_pl"><field field_ref="specific_humidity__hus" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_tasmax_day_minmax" name="atmos_tasmax_day_minmax"><field field_ref="2t" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" name="tasmax" long_name="Daily Maximum Near-Surface Air Temperature" operation="maximum"/></file>
        <file id="f_tasmin_day_minmax" name="atmos_tasmin_day_minmax"><field field_ref="2t" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" name="tasmin" long_name="Daily Minimum Near-Surface Air Temperature" operation="minimum"/></file>
        <file id="f_tsns_day_snow" name="atmos_tsns_day_snow"><field field_ref="tsn" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tsns" long_name="Snow Surface Temperature"/></file>
        <file id="f_surface_snow_melt_flux__snmsl_day_snow" name="atmos_surface_snow_melt_flux__snmsl_day_snow"><field field_ref="surface_snow_melt_flux__snmsl" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_potential_evapotranspiration__evspsblpot_day_land" name="atmos_potential_evapotranspiration__evspsblpot_day_land"><field field_ref="potential_evapotranspiration__evspsblpot" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_subsurface_runoff_flux__mrrob_day_land" name="atmos_subsurface_runoff_flux__mrrob_day_land"><field field_ref="subsurface_runoff_flux__mrrob" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_sublimation_flux__sbl_day_land" name="atmos_sublimation_flux__sbl_day_land"><field field_ref="sublimation_flux__sbl" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_snow_melt_flux__snm_day_land" name="atmos_surface_snow_melt_flux__snm_day_land"><field field_ref="surface_snow_melt_flux__snm" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_soil_moisture_content__mrso_day_land" name="atmos_soil_moisture_content__mrso_day_land"><field field_ref="soil_moisture_content__mrso" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_swvl1_day_land" name="atmos_swvl1_day_land"><field field_ref="swvl1" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="swvl1"/></file>
        <file id="f_swvl2_day_land" name="atmos_swvl2_day_land"><field field_ref="swvl2" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="swvl2"/></file>
        <file id="f_swvl3_day_land" name="atmos_swvl3_day_land"><field field_ref="swvl3" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="swvl3"/></file>
        <file id="f_swvl4_day_land" name="atmos_swvl4_day_land"><field field_ref="swvl4" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="swvl4"/></file>
        <file id="f_sd_day_land" name="atmos_sd_day_land"><field field_ref="sd" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="sd" long_name="Snow depth (water equivalent)"/></file>
        <file id="f_src_day_land" name="atmos_src_day_land"><field field_ref="src" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="src" long_name="Skin reservoir content"/></file>
        <file id="f_rsn_day_land" name="atmos_rsn_day_land"><field field_ref="rsn" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="rsn" long_name="Snow density"/></file>
        <file id="f_cloud_area_fraction_ml__cl_day_ml" name="atmos_cloud_area_fraction_ml__cl_day_ml"><field field_ref="cloud_area_fraction_ml__cl" grid_ref="regular_ml" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_pfull_day_ml" name="atmos_pfull_day_ml"><field field_ref="pres" grid_ref="regular_ml" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="pfull" long_name="Pressure at Model Full-Levels"/></file>
        <file id="f_surface_net_downward_longwave_flux__rls_day_rad" name="atmos_surface_net_downward_longwave_flux__rls_day_rad"><field field_ref="surface_net_downward_longwave_flux__rls" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_net_downward_shortwave_flux__rss_day_rad" name="atmos_surface_net_downward_shortwave_flux__rss_day_rad"><field field_ref="surface_net_downward_shortwave_flux__rss" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_water_evapotranspiration_flux__evspsbl_day_rad" name="atmos_water_evapotranspiration_flux__evspsbl_day_rad"><field field_ref="water_evapotranspiration_flux__evspsbl" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_upward_latent_heat_flux__hfls_day_cap7" name="atmos_surface_upward_latent_heat_flux__hfls_day_cap7"><field field_ref="surface_upward_latent_heat_flux__hfls" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_upward_sensible_heat_flux__hfss_day_cap7" name="atmos_surface_upward_sensible_heat_flux__hfss_day_cap7"><field field_ref="surface_upward_sensible_heat_flux__hfss" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_upwelling_longwave_flux__rlus_day_cap7" name="atmos_surface_upwelling_longwave_flux__rlus_day_cap7"><field field_ref="surface_upwelling_longwave_flux__rlus" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_upwelling_shortwave_flux__rsus_day_cap7" name="atmos_surface_upwelling_shortwave_flux__rsus_day_cap7"><field field_ref="surface_upwelling_shortwave_flux__rsus" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_upwelling_longwave_flux_cs__rluscs_day_cap7" name="atmos_surface_upwelling_longwave_flux_cs__rluscs_day_cap7"><field field_ref="surface_upwelling_longwave_flux_cs__rluscs" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_upwelling_shortwave_flux_cs__rsuscs_day_cap7" name="atmos_surface_upwelling_shortwave_flux_cs__rsuscs_day_cap7"><field field_ref="surface_upwelling_shortwave_flux_cs__rsuscs" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_downwelling_longwave_flux__rlds_day_cap7" name="atmos_surface_downwelling_longwave_flux__rlds_day_cap7"><field field_ref="surface_downwelling_longwave_flux__rlds" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_downwelling_longwave_flux_cs__rldscs_day_cap7" name="atmos_surface_downwelling_longwave_flux_cs__rldscs_day_cap7"><field field_ref="surface_downwelling_longwave_flux_cs__rldscs" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_downwelling_shortwave_flux__rsds_day_cap7" name="atmos_surface_downwelling_shortwave_flux__rsds_day_cap7"><field field_ref="surface_downwelling_shortwave_flux__rsds" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_downwelling_shortwave_flux_cs__rsdscs_day_cap7" name="atmos_surface_downwelling_shortwave_flux_cs__rsdscs_day_cap7"><field field_ref="surface_downwelling_shortwave_flux_cs__rsdscs" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_toa_outgoing_longwave_flux__rlut_day_cap7" name="atmos_toa_outgoing_longwave_flux__rlut_day_cap7"><field field_ref="toa_outgoing_longwave_flux__rlut" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_toa_outgoing_longwave_flux_cs__rlutcs_day_cap7" name="atmos_toa_outgoing_longwave_flux_cs__rlutcs_day_cap7"><field field_ref="toa_outgoing_longwave_flux_cs__rlutcs" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_toa_incoming_shortwave_flux__rsdt_day_cap7" name="atmos_toa_incoming_shortwave_flux__rsdt_day_cap7"><field field_ref="toa_incoming_shortwave_flux__rsdt" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_toa_outgoing_shortwave_flux__rsut_day_cap7" name="atmos_toa_outgoing_shortwave_flux__rsut_day_cap7"><field field_ref="toa_outgoing_shortwave_flux__rsut" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_toa_outgoing_shortwave_flux_cs__rsutcs_day_cap7" name="atmos_toa_outgoing_shortwave_flux_cs__rsutcs_day_cap7"><field field_ref="toa_outgoing_shortwave_flux_cs__rsutcs" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_convective_precipitation_flux__prc_day_cap7" name="atmos_convective_precipitation_flux__prc_day_cap7"><field field_ref="convective_precipitation_flux__prc" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_snowfall_flux__prsn_day_cap7" name="atmos_snowfall_flux__prsn_day_cap7"><field field_ref="snowfall_flux__prsn" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_atmosphere_water_vapor_content__prw_day_cap7" name="atmos_atmosphere_water_vapor_content__prw_day_cap7"><field field_ref="atmosphere_water_vapor_content__prw" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_atmosphere_cloud_ice_content__clivi_day_cap7" name="atmos_atmosphere_cloud_ice_content__clivi_day_cap7"><field field_ref="atmosphere_cloud_ice_content__clivi" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_snow_amount__snw_day_cap7" name="atmos_surface_snow_amount__snw_day_cap7"><field field_ref="surface_snow_amount__snw" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_tclw_day_cap7" name="atmos_tclw_day_cap7"><field field_ref="tclw" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tclw" long_name="Total column cloud liquid water"/></file>
        <file id="f_2t_1d_cmip7" name="atm_remapped_2t_1d_cmip7"><field field_ref="2t" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="2t" long_name="2 metre temperature"/></file>
        <file id="f_msl_1d_cmip7" name="atm_remapped_msl_1d_cmip7"><field field_ref="msl" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="msl" long_name="Mean sea level pressure"/></file>
        <file id="f_sp_1d_cmip7" name="atm_remapped_sp_1d_cmip7"><field field_ref="sp" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="sp" long_name="Surface pressure"/></file>
        <file id="f_tcc_1d_cmip7" name="atm_remapped_tcc_1d_cmip7"><field field_ref="tcc" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tcc" long_name="Total cloud cover"/></file>
        <file id="f_10u_1d_cmip7" name="atm_remapped_10u_1d_cmip7"><field field_ref="10u" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="10u" long_name="10 metre U wind component"/></file>
        <file id="f_10v_1d_cmip7" name="atm_remapped_10v_1d_cmip7"><field field_ref="10v" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="10v" long_name="10 metre V wind component"/></file>
        <file id="f_2d_1d_cmip7" name="atm_remapped_2d_1d_cmip7"><field field_ref="2d" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="2d" long_name="2 metre dewpoint temperature"/></file>
        <file id="f_ssrd_1d_cmip7" name="atm_remapped_ssrd_1d_cmip7"><field field_ref="ssrd" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="ssrd" long_name="Surface solar radiation downwards"/></file>
        <file id="f_tp_1d_cmip7" name="atm_remapped_tp_1d_cmip7"><field field_ref="tp" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tp" long_name="Total precipitation"/></file>
        <file id="f_ci_1d_cmip7" name="atm_remapped_ci_1d_cmip7"><field field_ref="ci" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="ci" long_name="Sea ice area fraction"/></file>
        <file id="f_z_1d_pl_cmip7" name="atm_remapped_z_1d_pl_cmip7"><field field_ref="z_pl" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="z"/></file>
        <file id="f_t_1d_pl_cmip7" name="atm_remapped_t_1d_pl_cmip7"><field field_ref="t_pl" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="t"/></file>
        <file id="f_u_1d_pl_cmip7" name="atm_remapped_u_1d_pl_cmip7"><field field_ref="u_pl" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="u"/></file>
        <file id="f_v_1d_pl_cmip7" name="atm_remapped_v_1d_pl_cmip7"><field field_ref="v_pl" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="v"/></file>
        <file id="f_q_1d_pl_cmip7" name="atm_remapped_q_1d_pl_cmip7"><field field_ref="q_pl" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="q"/></file>
        <file id="f_w_1d_pl_cmip7" name="atm_remapped_w_1d_pl_cmip7"><field field_ref="w_pl" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="w"/></file>
        <file id="f_r_1d_pl_cmip7" name="atm_remapped_r_1d_pl_cmip7"><field field_ref="r_pl" grid_ref="regular_pl" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="r"/></file>
        <file id="f_cvl_1d" name="atm_remapped_cvl_1d"><field field_ref="cvl" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="cvl" long_name="Low vegetation cover"/></file>
        <file id="f_cvh_1d" name="atm_remapped_cvh_1d"><field field_ref="cvh" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="cvh" long_name="High vegetation cover"/></file>
        <file id="f_tvl_1d" name="atm_remapped_tvl_1d"><field field_ref="tvl" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tvl" long_name="Type of low vegetation"/></file>
        <file id="f_tvh_1d" name="atm_remapped_tvh_1d"><field field_ref="tvh" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tvh" long_name="Type of high vegetation"/></file>
        <file id="f_lai_lv_1d" name="atm_remapped_lai_lv_1d"><field field_ref="lai_lv" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="lai_lv" long_name="Leaf area index, low vegetation"/></file>
        <file id="f_lai_hv_1d" name="atm_remapped_lai_hv_1d"><field field_ref="lai_hv" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="lai_hv" long_name="Leaf area index, high vegetation"/></file>
        <file id="f_msl_1d" name="atm_remapped_msl_1d"><field field_ref="msl" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="msl" long_name="Mean sea level pressure"/></file>
        <file id="f_tcc_1d" name="atm_remapped_tcc_1d"><field field_ref="tcc" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tcc" long_name="Total cloud cover"/></file>
        <file id="f_10u_1d" name="atm_remapped_10u_1d"><field field_ref="10u" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="10u" long_name="10 metre U wind component"/></file>
        <file id="f_10v_1d" name="atm_remapped_10v_1d"><field field_ref="10v" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="10v" long_name="10 metre V wind component"/></file>
        <file id="f_2t_1d" name="atm_remapped_2t_1d"><field field_ref="2t" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="2t" long_name="2 metre temperature"/></file>
        <file id="f_tsr_1d" name="atm_remapped_tsr_1d"><field field_ref="tsr" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tsr" long_name="Top net solar radiation"/></file>
        <file id="f_tsrc_1d" name="atm_remapped_tsrc_1d"><field field_ref="tsrc" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="tsrc" long_name="Top net solar radiation, clear sky"/></file>
{% if general.with_co2_oce_coupling | default(false) or general.with_co2_veg_coupling | default(false) %}
        <file id="f_co2of_1d" name="atm_remapped_co2of_1d"><field field_ref="co2of" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="co2of" long_name="Ocean flux of Carbon Dioxide"/></file>
        <file id="f_co2nbf_1d" name="atm_remapped_co2nbf_1d"><field field_ref="co2nbf" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="co2nbf" long_name="Natural biosphere flux of Carbon Dioxide"/></file>
        <file id="f_co2apf_1d" name="atm_remapped_co2apf_1d"><field field_ref="co2apf" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="co2apf" long_name="Anthropogenic emissions of Carbon Dioxide"/></file>
        <file id="f_co2fire_1d" name="atm_remapped_co2fire_1d"><field field_ref="co2fire" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="co2fire" long_name="Wildfire flux of Carbon Dioxide"/></file>
{% endif %}
    </file_group>

    <file_group id="fg_6h" output_freq="6h">
        <file id="f_2t_6h" name="atmos_2t_6h" enabled="true"><field field_ref="2t" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="2t" long_name="2 metre temperature"/></file>
        <file id="f_2d_6h" name="atmos_2d_6h" enabled="true"><field field_ref="2d" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="2d" long_name="2 metre dewpoint temperature"/></file>
        <file id="f_t_6h_pl3" name="atmos_t_6h_pl3" enabled="true"><field field_ref="t_pl" grid_ref="regular_pl3" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="t"/></file>
        <file id="f_u_6h_pl3" name="atmos_u_6h_pl3" enabled="true"><field field_ref="u_pl" grid_ref="regular_pl3" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="u"/></file>
        <file id="f_v_6h_pl3" name="atmos_v_6h_pl3" enabled="true"><field field_ref="v_pl" grid_ref="regular_pl3" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="v"/></file>
        <file id="f_snowfall_flux_6h__prsn_6h_prsn" name="atmos_snowfall_flux_6h__prsn_6h_prsn" enabled="true"><field field_ref="snowfall_flux_6h__prsn" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_sp_6h_pt" name="atmos_sp_6h_pt" enabled="true"><field field_ref="sp" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="sp" long_name="Surface pressure"/></file>
        <file id="f_msl_6h_pt" name="atmos_msl_6h_pt" enabled="true"><field field_ref="msl" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="msl" long_name="Mean sea level pressure"/></file>
        <file id="f_surface_temperature__ts_6h_pt" name="atmos_surface_temperature__ts_6h_pt" enabled="true"><field field_ref="surface_temperature__ts" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant"/></file>
        <file id="f_ta_6h_ml" name="atmos_ta_6h_ml" enabled="false"><field field_ref="t" grid_ref="regular_ml" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="ta" long_name="Air Temperature"/></file>
        <file id="f_ua_6h_ml" name="atmos_ua_6h_ml" enabled="false"><field field_ref="u" grid_ref="regular_ml" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="ua" long_name="Eastward Wind"/></file>
        <file id="f_va_6h_ml" name="atmos_va_6h_ml" enabled="false"><field field_ref="v" grid_ref="regular_ml" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="va" long_name="Northward Wind"/></file>
        <file id="f_hus_6h_ml" name="atmos_hus_6h_ml" enabled="false"><field field_ref="q" grid_ref="regular_ml" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="hus" long_name="Specific Humidity"/></file>
        <file id="f_geopotential_height_ml__zg_6h_ml" name="atmos_geopotential_height_ml__zg_6h_ml" enabled="false"><field field_ref="geopotential_height_ml__zg" grid_ref="regular_ml" freq_op="{{ oifs.output_step_freq }}ts" operation="instant"/></file>
        <file id="f_ta_6h_pl7h" name="atmos_ta_6h_pl7h" enabled="true"><field field_ref="t_pl" grid_ref="regular_pl7h" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="ta"/></file>
        <file id="f_ua_6h_pl7h" name="atmos_ua_6h_pl7h" enabled="true"><field field_ref="u_pl" grid_ref="regular_pl7h" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="ua"/></file>
        <file id="f_va_6h_pl7h" name="atmos_va_6h_pl7h" enabled="true"><field field_ref="v_pl" grid_ref="regular_pl7h" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="va"/></file>
        <file id="f_hus_6h_pl7h" name="atmos_hus_6h_pl7h" enabled="true"><field field_ref="q_pl" grid_ref="regular_pl7h" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="hus"/></file>
        <file id="f_zg_6h_pl7h" name="atmos_zg_6h_pl7h" enabled="true"><field field_ref="z_pl" grid_ref="regular_pl7h" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="zg"/></file>
        <file id="f_wap_6h_pl7h" name="atmos_wap_6h_pl7h" enabled="true"><field field_ref="w_pl" grid_ref="regular_pl7h" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="wap"/></file>
        <file id="f_msl_6h_legacy" name="atm_remapped_msl_6h_legacy" enabled="true"><field field_ref="msl" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="msl" long_name="Mean sea level pressure"/></file>
        <file id="f_tcc_6h_legacy" name="atm_remapped_tcc_6h_legacy" enabled="true"><field field_ref="tcc" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="tcc" long_name="Total cloud cover"/></file>
        <file id="f_10u_6h_legacy" name="atm_remapped_10u_6h_legacy" enabled="true"><field field_ref="10u" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="10u" long_name="10 metre U wind component"/></file>
        <file id="f_10v_6h_legacy" name="atm_remapped_10v_6h_legacy" enabled="true"><field field_ref="10v" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="10v" long_name="10 metre V wind component"/></file>
        <file id="f_2t_6h_legacy" name="atm_remapped_2t_6h_legacy" enabled="true"><field field_ref="2t" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="2t" long_name="2 metre temperature"/></file>
        <file id="f_tsr_6h_legacy" name="atm_remapped_tsr_6h_legacy" enabled="true"><field field_ref="tsr" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="tsr" long_name="Top net solar radiation"/></file>
        <file id="f_tsrc_6h_legacy" name="atm_remapped_tsrc_6h_legacy" enabled="true"><field field_ref="tsrc" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="tsrc" long_name="Top net solar radiation, clear sky"/></file>
{% if general.with_co2_oce_coupling | default(false) or general.with_co2_veg_coupling | default(false) %}
        <file id="f_co2of_6h_legacy" name="atm_remapped_co2of_6h_legacy" enabled="true"><field field_ref="co2of" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="co2of" long_name="Ocean flux of Carbon Dioxide"/></file>
        <file id="f_co2nbf_6h_legacy" name="atm_remapped_co2nbf_6h_legacy" enabled="true"><field field_ref="co2nbf" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="co2nbf" long_name="Natural biosphere flux of Carbon Dioxide"/></file>
        <file id="f_co2apf_6h_legacy" name="atm_remapped_co2apf_6h_legacy" enabled="true"><field field_ref="co2apf" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="co2apf" long_name="Anthropogenic emissions of Carbon Dioxide"/></file>
        <file id="f_co2fire_6h_legacy" name="atm_remapped_co2fire_6h_legacy" enabled="true"><field field_ref="co2fire" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="co2fire" long_name="Wildfire flux of Carbon Dioxide"/></file>
{% endif %}
    </file_group>

    <file_group id="fg_3h" output_freq="3h" enabled="true">
        <file id="f_2t_3h_pt" name="atmos_2t_3h_pt"><field field_ref="2t" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="2t" long_name="2 metre temperature"/></file>
        <file id="f_2d_3h_pt" name="atmos_2d_3h_pt"><field field_ref="2d" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="2d" long_name="2 metre dewpoint temperature"/></file>
        <file id="f_sp_3h_pt" name="atmos_sp_3h_pt"><field field_ref="sp" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="sp" long_name="Surface pressure"/></file>
        <file id="f_10u_3h_pt" name="atmos_10u_3h_pt"><field field_ref="10u" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="10u" long_name="10 metre U wind component"/></file>
        <file id="f_10v_3h_pt" name="atmos_10v_3h_pt"><field field_ref="10v" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="10v" long_name="10 metre V wind component"/></file>
        <file id="f_precipitation_flux_3h__pr_3h_pr" name="atmos_precipitation_flux_3h__pr_3h_pr"><field field_ref="precipitation_flux_3h__pr" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_upward_latent_heat_flux_3h__hfls_3h_rad" name="atmos_surface_upward_latent_heat_flux_3h__hfls_3h_rad"><field field_ref="surface_upward_latent_heat_flux_3h__hfls" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_upward_sensible_heat_flux_3h__hfss_3h_rad" name="atmos_surface_upward_sensible_heat_flux_3h__hfss_3h_rad"><field field_ref="surface_upward_sensible_heat_flux_3h__hfss" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_downwelling_longwave_flux_3h__rlds_3h_rad" name="atmos_surface_downwelling_longwave_flux_3h__rlds_3h_rad"><field field_ref="surface_downwelling_longwave_flux_3h__rlds" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_upwelling_longwave_flux_3h__rlus_3h_rad" name="atmos_surface_upwelling_longwave_flux_3h__rlus_3h_rad"><field field_ref="surface_upwelling_longwave_flux_3h__rlus" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_downwelling_shortwave_flux_3h__rsds_3h_rad" name="atmos_surface_downwelling_shortwave_flux_3h__rsds_3h_rad"><field field_ref="surface_downwelling_shortwave_flux_3h__rsds" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_upwelling_shortwave_flux_3h__rsus_3h_rad" name="atmos_surface_upwelling_shortwave_flux_3h__rsus_3h_rad"><field field_ref="surface_upwelling_shortwave_flux_3h__rsus" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_ta_3h_pl6" name="atmos_ta_3h_pl6"><field field_ref="t_pl" grid_ref="regular_pl6" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="ta"/></file>
        <file id="f_ua_3h_pl6" name="atmos_ua_3h_pl6"><field field_ref="u_pl" grid_ref="regular_pl6" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="ua"/></file>
        <file id="f_va_3h_pl6" name="atmos_va_3h_pl6"><field field_ref="v_pl" grid_ref="regular_pl6" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="va"/></file>
        <file id="f_wap_3h_pl6" name="atmos_wap_3h_pl6"><field field_ref="w_pl" grid_ref="regular_pl6" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="wap"/></file>
        <file id="f_hus_3h_pl6" name="atmos_hus_3h_pl6"><field field_ref="q_pl" grid_ref="regular_pl6" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="hus"/></file>
        <file id="f_bldep_3h_bldep" name="atmos_bldep_3h_bldep"><field field_ref="blh" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="bldep" long_name="Boundary Layer Depth"/></file>
        <file id="f_runoff_flux__mrro_3h_land" name="atmos_runoff_flux__mrro_3h_land"><field field_ref="runoff_flux__mrro" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_runoff_flux__mrros_3h_land" name="atmos_surface_runoff_flux__mrros_3h_land"><field field_ref="surface_runoff_flux__mrros" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_snow_evaporation_flux__esn_3h_land" name="atmos_snow_evaporation_flux__esn_3h_land"><field field_ref="snow_evaporation_flux__esn" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_net_surface_radiation__srfrad_3h_land" name="atmos_net_surface_radiation__srfrad_3h_land"><field field_ref="net_surface_radiation__srfrad" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_ground_heat_flux__hfdsl_3h_land" name="atmos_ground_heat_flux__hfdsl_3h_land"><field field_ref="ground_heat_flux__hfdsl" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_tslsi_3h_land" name="atmos_tslsi_3h_land"><field field_ref="skt" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="tslsi" long_name="Surface Temperature Where Land or Sea Ice"/></file>
        <file id="f_moisture_content_of_soil_layer_100cm__mrsol_3h_land" name="atmos_moisture_content_of_soil_layer_100cm__mrsol_3h_land"><field field_ref="moisture_content_of_soil_layer_100cm__mrsol" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant"/></file>
        <file id="f_surface_temperature__ts_3h_ts" name="atmos_surface_temperature__ts_3h_ts"><field field_ref="surface_temperature__ts" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant"/></file>
        <file id="f_snowfall_flux_3h__prsn_3h_prsn" name="atmos_snowfall_flux_3h__prsn_3h_prsn"><field field_ref="snowfall_flux_3h__prsn" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
    </file_group>

    <file_group id="fg_1h" output_freq="1h" enabled="true">
        <file id="f_precipitation_flux_1h__pr_1h_pr" name="atmos_precipitation_flux_1h__pr_1h_pr"><field field_ref="precipitation_flux_1h__pr" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_2t_1h_tas" name="atmos_2t_1h_tas"><field field_ref="2t" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="2t" long_name="2 metre temperature"/></file>
        <file id="f_surface_upward_latent_heat_flux__hfls_1h_sfc" name="atmos_surface_upward_latent_heat_flux__hfls_1h_sfc"><field field_ref="surface_upward_latent_heat_flux__hfls" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_upward_sensible_heat_flux__hfss_1h_sfc" name="atmos_surface_upward_sensible_heat_flux__hfss_1h_sfc"><field field_ref="surface_upward_sensible_heat_flux__hfss" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_upwelling_longwave_flux__rlus_1h_sfc" name="atmos_surface_upwelling_longwave_flux__rlus_1h_sfc"><field field_ref="surface_upwelling_longwave_flux__rlus" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_upwelling_shortwave_flux__rsus_1h_sfc" name="atmos_surface_upwelling_shortwave_flux__rsus_1h_sfc"><field field_ref="surface_upwelling_shortwave_flux__rsus" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_downwelling_longwave_flux__rlds_1h_sfc" name="atmos_surface_downwelling_longwave_flux__rlds_1h_sfc"><field field_ref="surface_downwelling_longwave_flux__rlds" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_surface_downwelling_shortwave_flux__rsds_1h_sfc" name="atmos_surface_downwelling_shortwave_flux__rsds_1h_sfc"><field field_ref="surface_downwelling_shortwave_flux__rsds" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_cloud_area_fraction__clt_1h_sfc" name="atmos_cloud_area_fraction__clt_1h_sfc"><field field_ref="cloud_area_fraction__clt" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_2t_1h_sfc" name="atmos_2t_1h_sfc"><field field_ref="2t" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="2t" long_name="2 metre temperature"/></file>
        <file id="f_2d_1h_sfc" name="atmos_2d_1h_sfc"><field field_ref="2d" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="2d" long_name="2 metre dewpoint temperature"/></file>
        <file id="f_10u_1h_sfc" name="atmos_10u_1h_sfc"><field field_ref="10u" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="10u" long_name="10 metre U wind component"/></file>
        <file id="f_10v_1h_sfc" name="atmos_10v_1h_sfc"><field field_ref="10v" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="10v" long_name="10 metre V wind component"/></file>
        <file id="f_sp_1h_sfc" name="atmos_sp_1h_sfc"><field field_ref="sp" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average" name="sp" long_name="Surface pressure"/></file>
        <file id="f_bldep_1h_bldep" name="atmos_bldep_1h_bldep"><field field_ref="blh" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="bldep" long_name="Boundary Layer Depth"/></file>
        <file id="f_msl_1h_pt" name="atmos_msl_1h_pt"><field field_ref="msl" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="msl" long_name="Mean sea level pressure"/></file>
        <file id="f_10u_1h_pt" name="atmos_10u_1h_pt"><field field_ref="10u" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="10u" long_name="10 metre U wind component"/></file>
        <file id="f_10v_1h_pt" name="atmos_10v_1h_pt"><field field_ref="10v" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="instant" name="10v" long_name="10 metre V wind component"/></file>
        <file id="f_surface_temperature__ts_1h_ts" name="atmos_surface_temperature__ts_1h_ts"><field field_ref="surface_temperature__ts" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="average"/></file>
        <file id="f_wsg10_1h_wsg" name="atmos_wsg10_1h_wsg"><field field_ref="10fg" grid_ref="regular_sfc" freq_op="{{ oifs.output_step_freq }}ts" operation="maximum" name="wsg10" long_name="Maximum Wind Speed of Gust at 10m"/></file>
    </file_group>

</file_definition>
