# ECHAM YAML DEFAULT CONFIGURATION FILE

model: hdmodel
repository: https://gitlab.dkrz.de/modular_esm/echam6
domain: hydrology

description: |
        The Hagemann/Duemenil hydrology model,
        (someone from Hamburg)
        paper citation

license_text: |
        Please make sure you have a licence to use echam. In case you are
        unsure, please contact redmine....

pool_dir: "${computer.pool_directories.pool}/JSBACH/input/${jsbach.dataset}/HD"
input_dir: "${pool_dir}"

executable: NONE

input_files :
        hdstart: hdstart
        hdpara: hdpara
        rmp_hd: rmp_hd

other_date: $(( ${next_date} - ${time_step}seconds ))

input_in_work:
        hdpara: "hdpara.nc"
        rmp_hd: "rmp_hd.nc"
        hdstart: "hdstart.nc"

input_sources:
        hdpara: "${input_dir}/hdpara.nc"
        rmp_hd: "${input_dir}/rmp_${echam.resolution}_to_hd.nc"
        hdstart: "${input_dir}/hdstart.nc"


choose_echam.version:
        6.3.05p2-wiso:
                add_restart_in_files:
                        hdrestart_wiso: hdrestart_wiso
                add_restart_out_files:
                        hdrestart_wiso: hdrestart_wiso
                restart_in_sources:
                        hdrestart: restart_${parent_expid}_${parent_date!syear!smonth!sday!shour!sminute!ssecond}_hdrestart.nc
                        hdrestart_wiso: restart_${parent_expid}_${parent_date!syear!smonth!sday!shour!sminute!ssecond}_hdrestart_wiso.nc
                restart_out_sources:
                        hdrestart: restart_${general.expid}_${other_date!syear!smonth!sday!shour!sminute!ssecond}_hdrestart.nc
                        hdrestart_wiso: restart_${general.expid}_${other_date!syear!smonth!sday!shour!sminute!ssecond}_hdrestart_wiso.nc


restart_in_in_work:
        hdrestart: hdrestart.nc
        hdrestart_wiso: hdrestart_wiso.nc

restart_in_sources:
        hdrestart: restart_${parent_expid}_${parent_date!syear!smonth!sday}_hdrestart.nc

restart_in_files:
        hdrestart: hdrestart

restart_out_files:
        hdrestart: hdrestart

restart_out_in_work:
        hdrestart: hdrestart.nc
        hdrestart_wiso: hdrestart_wiso.nc

restart_out_sources:
        hdrestart: restart_${general.expid}_${other_date!syear!smonth!sday}_hdrestart.nc

log_in_work:
        outflow: hd_outflow_*.log # DIBA muss noch rausfinden was * in diesem Fall ist


choose_hdpara_file:
        "*":
                add_input_sources:
                        hdpara: ${hdpara_file}


further_reading:
        - hdmodel/hdmodel.inherit.yaml
