{{lpj_guess.time_step}}
{{lpj_guess.run_year}}
{{lpj_guess.run_month}}
{{lpj_guess.run_day}}
{{lpj_guess.ndays_per_run}}
{{lpj_guess.mygrid}}
{{lpj_guess.TM5}}
{{lpj_guess.fourxCO2}}
{{lpj_guess.onepcCO2}}
{{lpj_guess.fixed_CO2}}
{{lpj_guess.fixed_ndep}}
{{lpj_guess.fixed_LU}}
