param "file_gridlist" (str "{{lpj_guess.gridlist_dir}}/gridlist_{{lpj_guess.gridlist}}.txt")
import "{{lpj_guess.model_dir}}/data/ins/{{lpj_guess.setup_name}}.ins"
import "{{general.work_dir}}/paths_forcing.ins"
