param "file_gridlist" (str ""{{lpj_guess.gridlist_dir}}"/"{{lpj_guess.gridlist}}".txt")
import ""{{lpj_guess.model_dir}}"/data/ins/"{{lpj_guess.setup_name}}".ins"
import ""{{lpj_guess.namelist_dir}}"/paths_forcing.ins"
