#########################################################################################
######################### AWIESM 2 YAML CONFIGURATION FILE ##############################
#########################################################################################

general:
        compute_recipe:
            - "venv_bootstrap"
            - "_create_setup_folders"
            - "_create_component_folders"
            - "initialize_experiment_logfile"
            - "copy_tools_to_thisrun"
            - "compile_model"
            - "_copy_preliminary_files_from_experiment_to_thisrun"
            - "_show_simulation_info"
            - "create_new_files"
            - "create_hosing_files"
            - "prepare_coupler_files"
            - "add_batch_hostfile"
            - "assemble"
            - "log_used_files"
            - "_write_finalized_config"
            - "copy_files_to_thisrun"
            - "modify_namelists"
            - "modify_files"
            - "copy_files_to_work"
            - "write_simple_runscript"
            - "report_missing_files"
            - "database_entry"
            - "submit"

        model: awiesm

        coupled_setup: True

        include_models:
                - echam
                - fesom
                - oasis3mct

        version: "2.1"
        available_versions:
        - '2.1'
        - '2.1-wiso'
        - '2.1-recom'
        choose_version:
          '2.1':
            couplings:
            - fesom-2.0-paleodyn+echam-6.3.05p2-concurrent_radiation-paleodyn
          '2.1-wiso':
            couplings: # TODO: change fesom-2.0 to fesom-2.1 in the name when fesom-2.1 is supported
            - fesom-2.0-wiso+echam-6.3.05p2-wiso
          '2.1-recom':
            couplings: # TODO: change fesom-2.0 to fesom-2.1 in the name when fesom-2.1 is supported
            - fesom-2.0-wiso+echam-6.3.05p2-wiso+recom-2.0
            add_include_models:
            - recom
        scenario: "PALEO"
        resolution: ${echam.resolution}_${fesom.resolution}
        postprocessing: false
        post_time: "00:05:00"
        choose_general.resolution:
                T63_CORE2:
                        compute_time: "02:00:00"
                T63_REF87K:
                        compute_time: "02:00:00"
                T63_REF:
                        compute_time: "02:00:00"

#########################################################################################
########### necessary changes to submodels compared to standalone setups ################
#########################################################################################

echam:
        restart_firstlast: "first"
        namelist_changes:
                namelist.echam:
                        runctl:
                                lcouple: .true.
        adj_input_dir: "${fesom.mesh_dir}/tarfiles${echam.resolution}/input/echam6"
        model_dir: ${general.model_dir}/echam-${echam.version}
        setup_dir: ${general.model_dir}
        ocean_resolution: "${fesom.resolution}"
        remove_forcing_files:
                - sst
                - sic
        choose_general.version:
                2.1-wiso:
                        version: "6.3.05p2-wiso"
                2.1-recom:
                        version: "6.3.05p2-wiso"
                "*":
                        version: "6.3.05p2-concurrent_radiation-paleodyn"

# kh 20.03.20 values may be superseded by section choose_computer.cores_per_node: in .../configs/echam/echam.yaml
        choose_general.resolution:
                T63_CORE2:
                        nproca: 24
                        nprocb: 18
                        nprocar: 24
                        nprocbr: 18
                        npromar: 8
                        lrad_async: true
                        lrestart_from_old: false
                T63_REF87K:
                        nproca: 24
                        nprocb: 18
                T63_REF:
                        nproca: 24
                        nprocb: 18

        add_compiletime_environment_changes:
            add_export_vars:
                # NOTE(PG)/FIXME(KH): The mh-linux is wrong, and uses OpenIFS Flags...???
                OIFS_OASIS_BASE: '$(pwd)/oasis'
                OIFS_OASIS_INCLUDE: '"-I$OIFS_OASIS_BASE/build/lib/psmile -I$OIFS_OASIS_BASE/build/lib/psmile/scrip -I$OIFS_OASIS_BASE/build/lib/psmile/mct -I$OIFS_OASIS_BASE/build/lib/psmile/mct/mpeu"'
                OASIS3MCT_FC_LIB: "$(pwd)/lib/"
                OASIS3MCTROOT: "$(pwd)/oasis/"
                configure_opts: '--with-coupler=oasis3-mct'
        add_test1:
            test3: false



#########################################################################################


jsbach:
        adj_input_dir: "${fesom.mesh_dir}/tarfiles${echam.resolution}/input/jsbach"
        choose_jsbach.dataset:
                "r0009":
                        cover_fract_dir: "${fesom.mesh_dir}/tarfiles${echam.resolution}/input/jsbach"
                "r0008":
                        cover_fract_dir: "${fesom.mesh_dir}/tarfiles${echam.resolution}/input/jsbach"
        namelist_changes:
                namelist.jsbach:
                        hydrology_ctl:
                                gethd: "remove_from_namelist"
                                puthd: "remove_from_namelist"
                        jsbach_ctl:
                            use_dynveg: true
        version: "3.20"

        choose_computer.name:
                ollie:
                        dynveg_file_ending: ""
                        no_dynveg_file_ending: ""

#########################################################################################


fesom:
        version: "2.0"
        choose_general.version:
                1.1:
                        version: "1.4"
                CMIP6:
                        version: "1.4"
                2.0:
                        version: "2.0"
                2.1-recom:
                        namelist_dir: ${fesom.model_dir}/config/
                        add_config_sources:
                                oce:     "${namelist_dir}/namelist.oce.recom.ciso"
                        add_config_in_work:
                                oce:     namelist.oce
                        remove_namelist_changes.namelist.config: [inout]
                        add_namelist_changes:
                                namelist.config:
                                        restart_log:
                                                restart_length: "${restart_rate}"
                                                restart_length_unit: "${restart_unit}"
        choose_general.resolution:
                T63_CORE2:
                        nproc: 288
                T63_REF87K:
                        nproc: 216
                T63_REF:
                        nproc: 128

        opbnd_dir: ""
        tide_forcing_dir: ""
        forcing_data_dir: ""
        model_dir: ${general.model_dir}/fesom-${fesom.version}
        setup_dir: ${general.model_dir}

        namelist_changes:
                namelist.oce:
                        boundary:
                                restore_s_surf: 0.0

        leapyear: True
        asforcing: ECHAM5


#########################################################################################


recom:
        choose_general.version:
                2.1-recom:
                        version: "2.0"
                        bgc_num: 31
                        add_namelist_changes:
                            namelist.recom:
                                pavariables:
                                    bgc_num: "${bgc_num}"
                        data_path: /work/ollie/mbutzin/fesom2/input/dust/

                        restart_name: "restart."

                        remove_namelist_changes.namelist.recom.pavariables:
                            - constant_CO2
                            - firstyearoffesomcycle
                            - lastyearoffesomcycle
                            - numofCO2cycles
                            - currentCO2cycle
                            - REcoM_PI
                        remove_namelist_changes.namelist.recom.paco2_flux_param:
                            - CO2_for_spinup

                        namelist_dir: ${fesom.model_dir}/config/

                        # Include the extra namelist that is not included by default in recom.yaml
                        add_namelists:
                                - namelist.io.recom.ciso
                        add_config_files:
                                io.recom.ciso: io.recom.ciso
                        add_config_sources:
                                recom: ${namelist_dir}/namelist.recom.ciso
                        add_config_in_work:
                                recom: namelist.recom
                "*":
                        not_used: ""

#########################################################################################

oasis3mct:
        model_dir: ${general.model_dir}/oasis

        process_ordering:
                - fesom
                - echam

        a2o_lag: "${echam.time_step}"
        o2a_lag: "${fesom.time_step}"
        a2o_seq: 2

        coupling_time_step: 3600
        # Example for input fields:
        #coupling_input_fields:
        #    gfw_atmo:
        #        freq: 86400
        #        field_filepath: "foo/bar.nc"
        coupling_target_fields:
                o2a_flux:
                        - 'sst_atmo:sit_atmo:sie_atmo <--distwgt-- sst_feom:sit_feom:sie_feom'
                        - 'snt_atmo <--distwgt-- snt_feom'
                        - 'o18_atmo <--distwgt-- o18_feom'
                        - 'hdo_atmo <--distwgt-- hdo_feom'
                        - 'o16_atmo <--distwgt-- o16_feom'

                a2o_flux:
                        - 'taux_oce:tauy_oce:taux_ico:tauy_ico <--bicubic-- taux_atm:tauy_atm:taux_ica:tauy_ica'
                        - 'prec_oce <--distwgt-- prec_atm'
                        - 'snow_oce <--distwgt-- snow_atm'
                        - 'evap_oce <--distwgt-- evap_atm'
                        - 'subl_oce <--distwgt-- subl_atm'
                        - 'heat_oce <--distwgt-- heat_atm'
                        - 'heat_ico <--distwgt-- heat_ica'
                        - 'heat_swo <--distwgt-- heat_swa'
                        - 'hydr_oce <--distwgt-- hydr_atm'
                        - 'w1_oce <--distwgt-- w1_atm'
                        - 'w2_oce <--distwgt-- w2_atm'
                        - 'w3_oce <--distwgt-- w3_atm'
                        - 'i1_oce <--distwgt-- i1_atm'
                        - 'i2_oce <--distwgt-- i2_atm'
                        - 'i3_oce <--distwgt-- i3_atm'


        coupling_directions:
                'feom->atmo':
                        lag: ${o2a_lag}
                        seq: 2
                'atmo->feom':
                        lag: ${a2o_lag}
                        seq: ${a2o_seq}


        coupling_methods:
                distwgt:
                        time_transformation: instant
                        remapping:
                                distwgt:
                                        search_bin: latitude
                                        nb_of_search_bins: 15
                                        nb_of_neighbours: 6
                bicubic:
                        time_transformation: instant
                        remapping:
                                bicubic:
                                        search_bin: latitude
                                        nb_of_search_bins: 15

        add_restart_out_files:
                rmp_a2f_B: rmp_a2f_B
                rmp_a2f_D: rmp_a2f_D
                rmp_f2a_D: rmp_f2a_D

        add_restart_out_in_work:
                rmp_a2f_B: rmp_atmo_to_feom_BICUBIC.nc
                rmp_a2f_D: rmp_atmo_to_feom_DISTWGT.nc
                rmp_f2a_D: rmp_feom_to_atmo_DISTWGT.nc

        add_restart_out_sources:
                rmp_a2f_B: rmp_atmo_to_feom_BICUBIC.nc
                rmp_a2f_D: rmp_atmo_to_feom_DISTWGT.nc
                rmp_f2a_D: rmp_feom_to_atmo_DISTWGT.nc

        add_restart_in_files:
                rmp_a2f_B: rmp_a2f_B
                rmp_a2f_D: rmp_a2f_D
                rmp_f2a_D: rmp_f2a_D

        add_restart_in_in_work:
                rmp_a2f_B: rmp_atmo_to_feom_BICUBIC.nc
                rmp_a2f_D: rmp_atmo_to_feom_DISTWGT.nc
                rmp_f2a_D: rmp_feom_to_atmo_DISTWGT.nc

        add_restart_in_sources:
                rmp_a2f_B: rmp_atmo_to_feom_BICUBIC.nc
                rmp_a2f_D: rmp_atmo_to_feom_DISTWGT.nc
                rmp_f2a_D: rmp_feom_to_atmo_DISTWGT.nc


