! This is the namelist file for model general configuration

&modelname
runid='fesom'
/

&timestep
step_per_day=27 ! 32 !96 !96 !72 !72 !45 !72 !96
run_length= 1!31 !62 !62 years = one CORE cycle
run_length_unit='y'		! y, m, d, s
/

&clockinit              ! the model starts at
timenew=0.0
daynew=1
yearnew=1948
/

&paths
! kh 04.06.21
!MeshPath='/pf/a/a270108/fesom2_recom_config/meshes/pi-mesh/pi-grid/'

! kh 11.01.22
!MeshPath='/work/bk0993/k202138/fesom2_recom_config/meshes/pi-mesh/pi-grid/'

! kh 11.01.22
MeshPath='/work/k20200/k202138/fesom2_recom_config/meshes/pi-mesh/pi-grid/'


!ClimateDataPath='/pf/a/a270108/fesom2_recom_config/input/'
!ClimateDataPath='/work/bk0993/k202138/fesom2_recom_config/input/'

! kh 11.01.22
!ClimateDataPath='/work/bk0993/k202138/fesom2_recom_config/input/init/'
ClimateDataPath='/work/k20200/k202138/fesom2_recom_config/input/init/'


ResultPath=$YOUR_PATH
/

&restart_log
restart_length=1        !only required for d,h,s cases,  y, m take 1
restart_length_unit='y' !output period: y,  d, h, s 
logfile_outfreq=810 !960     !in logfile info. output frequency, # steps
/

&ale_def
which_ALE='zstar'       ! 'linfs','zlevel', 'zstar'
use_partial_cell=.true.
/

&geometry
cartesian=.false.
fplane=.false.
cyclic_length=360       ![degree]
rotated_grid=.true.     !option only valid for coupled model case now
force_rotation=.false.
alphaEuler=50.          ![degree] Euler angles, convention:
betaEuler=15.           ![degree] first around z, then around new x,
gammaEuler=-90.         ![degree] then around new z.
/

&calendar
include_fleapyear=.false.
/

&run_config
use_ice=.true.                  ! ocean+ice
use_cavity=.false.              !
use_cavity_partial_cell=.false. 
use_floatice = .false.
use_sw_pene=.true.
lwiso=.false.

! kh 24.09.21
num_tracer_threads=1
!!!!!!num_tracer_threads=1

! kh 30.09.21
!#################recom_async_mode=0

! kh 18.10.21
!recom_async_mode=3

! kh 01.11.21
!num_tracers_limit=99

! kh 11.11.21 multi FESOM loop parallelization
!######################num_fesom_groups=1


&machine
n_levels=2
n_part= 12, 36          ! 432 number of partitions on each hierarchy level
/
