# ESM-Tests in check mode for all computers
# =========================================

name: esm_tests

# Triggers the workflow on a push or a pull
on:
  workflow_call:
    inputs:
      update_esm_tests_info:
        type: boolean
        default: False
  pull_request:
    type:
      - edited

jobs:
  ollie:
    uses: ./.github/workflows/esm_tests_computer_workflow.yml
    with:
        computer: ollie1
        update_esm_tests_info: ${{ inputs.update_esm_tests_info }}
  levante:
    uses: ./.github/workflows/esm_tests_computer_workflow.yml
    with:
        computer: levante1
        update_esm_tests_info: ${{ inputs.update_esm_tests_info }}
  juwels:
    uses: ./.github/workflows/esm_tests_computer_workflow.yml
    with:
        computer: jwlogin01.juwels
        update_esm_tests_info: ${{ inputs.update_esm_tests_info }}
  aleph:
    uses: ./.github/workflows/esm_tests_computer_workflow.yml
    with:
        computer: elogin1
        update_esm_tests_info: ${{ inputs.update_esm_tests_info }}
  blogin:
    uses: ./.github/workflows/esm_tests_computer_workflow.yml
    with:
        computer: blogin1
        update_esm_tests_info: ${{ inputs.update_esm_tests_info }}
