name: esm-tools Ollie

# Controls when the action will run. Triggers the workflow on push or pull request.

on: [push, pull_request]


jobs:
  basic_tests:
    runs-on: hpc_awi_ollie
    env:
          LC_ALL: en_US.UTF-8
          LANG: en_US.UTF-8
    name: Set up Python
    steps:
      - uses: actions/checkout@v2
      - name: module load python3
        run: "module load python3"

      - name: add to the path
        run: |
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: install esm-tools
        run: |
          module load git
          module load python3
          ./install.sh

      - name: run esm_master first time
        run: |
          yes Y | esm_master

      - name: run esm_master second time
        run: |
          esm_master

      - name: run esm_plugins
        run: |
          esm_plugins

      - name: run get-fesom-2.0
        run: |
          esm_master get-fesom-2.0

      - name: run status-fesom-2.0
        run: |
          esm_master status-fesom-2.0

      - name: run clean-fesom-2.0
        run: |
          esm_master clean-fesom-2.0
