name: esm-tools main test

# Controls when the action will run. Triggers the workflow on push or pull request.

on: [push, pull_request]

jobs:
  basic_tests:
    # Containers must run in Linux based operating systems
    runs-on: ubuntu-latest
    # Docker Hub image that `container-job` executes in
    env:
      LC_ALL: en_US.UTF-8
      LANG: en_US.UTF-8
    container:
      image: koldunovn/esm_test:latest
      options: --hostname ollie1

    # Service containers to run with `gfortran_ubuntu`
    steps:
    # NK: this changes working directory to fesom2
    - uses: actions/checkout@v2

    - name: add to the path
      run: |
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    - name: install esm-tools
      run: |
        ./install.sh

    - name: run esm_master first time
      run: |
        yes Y | esm_master

    - name: run esm_master second time
      run: |
        esm_master

    - name: run esm_plugins
      run: |
        esm_plugins

    - name: run get-fesom-2.0
      run: |
        esm_master get-fesom-2.0

    - name: run status-fesom-2.0
      run: |
        esm_master status-fesom-2.0

    - name: run clean-fesom-2.0
      run: |
        esm_master clean-fesom-2.0

  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: pip install wheel
    - name: Build package
      run: python setup.py sdist bdist_wheel
    - name: Publish package
      if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
